@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bbblan');
  src:  url('../fonts/icomoon.eot?bbblan#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?bbblan') format('truetype'),
  url('../fonts/icomoon.woff?bbblan') format('woff'),
  url('../fonts/icomoon.svg?bbblan#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  @include icon();
}

.icon-cart-full:before {
  content: "\e93b";
}
.icon-bottle-in:before {
  content: "\e937";
}
.icon-left-arrow:before {
  content: "\e938";
}
.icon-bottle-inline:before {
  content: "\e900";
}
.icon-bittle-full:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-bill:before {
  content: "\e903";
}
.icon-cancel:before {
  content: "\e904";
}
.icon-career:before {
  content: "\e905";
}
.icon-change-inline:before {
  content: "\e906";
}
.icon-change-full:before {
  content: "\e907";
}
.icon-money:before {
  content: "\e908";
}
.icon-comments:before {
  content: "\e909";
}
.icon-conversation:before {
  content: "\e90a";
}
.icon-check2:before {
  content: "\e90b";
}
.icon-map:before {
  content: "\e90c";
}
.icon-ecology:before {
  content: "\e90d";
}
.icon-email:before {
  content: "\e90e";
}
.icon-emails:before {
  content: "\e90f";
}
.icon-eye:before {
  content: "\e911";
}
.icon-facebook:before {
  content: "\e912";
}
.icon-google:before {
  content: "\e913";
}
.icon-hands-shaking:before {
  content: "\e914";
}
.icon-handshake-inline:before {
  content: "\e915";
}
.icon-help:before {
  content: "\e916";
}
.icon-home:before {
  content: "\e917";
}
.icon-human-head-with-a-question-mark-inside:before {
  content: "\e918";
}
.icon-calendar:before {
  content: "\e919";
}
.icon-invoice:before {
  content: "\e91a";
}
.icon-heart:before {
  content: "\e91b";
}
.icon-like-inline:before {
  content: "\e91c";
}
.icon-like:before {
  content: "\e91d";
}
.icon-user:before {
  content: "\e91e";
}
.icon-medal:before {
  content: "\e91f";
}
.icon-message:before {
  content: "\e920";
}
.icon-music-player-play:before {
  content: "\e921";
}
.icon-calendar-inline:before {
  content: "\e922";
}
.icon-cart-inline:before {
  content: "\e923";
}
.icon-package-inline:before {
  content: "\e924";
}
.icon-contact:before {
  content: "\e925";
}
.icon-question:before {
  content: "\e926";
}
.icon-raindrop:before {
  content: "\e927";
}
.icon-settings:before {
  content: "\e928";
}
.icon-right-chevron:before {
  content: "\e929";
}
.icon-search:before {
  content: "\e92a";
}
.icon-setting-tools:before {
  content: "\e92b";
}
.icon-star:before {
  content: "\e92d";
}
.icon-statistics:before {
  content: "\e92e";
}
.icon-strategic:before {
  content: "\e92f";
}
.icon-test-full:before {
  content: "\e930";
}
.icon-test-tube:before {
  content: "\e931";
}
.icon-test-inline:before {
  content: "\e932";
}
.icon-like-full:before {
  content: "\e933";
}
.icon-login:before {
  content: "\e934";
}
.icon-visibility:before {
  content: "\e935";
}
.icon-world-location:before {
  content: "\e936";
}
.icon-check:before {
  content: "\e92c";
}
.icon-logo:before {
  content: "\e910";
}
.icon-minus:before {
  content: "\e939";
}
.icon-plus:before {
  content: "\e93a";
}