@import "colors";
@import "mixins";
@import "icons";
@import "main-page";


body, html{
  height: 100%;
}
main{
  min-height: 100%;
  height: auto;
}

main{
  padding-bottom: 352px;
}

footer{
  margin-top: -352px;
}
body{
  font-family: "Open Sans";
  font-size: 13px;
  background: #fbfbfb;
  color: #333;
  padding-right:0px !important;
  margin-right:0px !important;
  &.modal-open{
    padding-right:15px !important;
  }

}

h1, .h1{
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}
h2, .h2{
  font-weight: bold;
  font-size: 20px;
}

h3, .h3{
  font-weight: bold;
  font-size: 16px;
}

.text-gray{
  color: $gray!important;
}

a:focus, a:active{
  outline: none;
}

textarea{
  resize: none;
}

.padding-xs{
  padding: 15px;
}


:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}


.heading{
  @include shadow();
  margin-bottom: 20px;
}


.alert {
  padding: 10px;
  border: 0;
  border-radius: 0;
  padding-left: 40px;
  position: relative;
  &.alert-danger{
    background: transparent;
    color: #ff5200;
    a{
      color: #ff5200;
      font-weight: bold;
      text-decoration: underline;
    }
    &:before{
      content: "!";
      color: #fff;
      position: absolute;
      top: 4px;
      left: 0;
      font-weight: bold;
      font-size: 19px;
      background: #ff5200;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      padding: 2px 0px;
    }
  }
}


.breadcrumb{
  background: transparent;
  padding: 0;
  a{
    color: #333;
  }
}

.form-group{

  &.success{
    position: relative;
    &:before{
      @include icon();
      content: "\e90b";
      color: #00d800;
      position: absolute;
      right: 12px;
      top: 23px;
      font-size: 14px;
    }
    .form-control {
      border: 1px solid #00d800;
      padding-right: 40px;
    }

    .ui-selectmenu-button.ui-button{
      border: 1px solid #00d800;
    }
  }
  &.error{
    .form-control {
      border: 1px solid red;
    }

    .ui-selectmenu-button.ui-button{
      border: 1px solid red;
    }
  }
  &.group-label-up{

    position: relative;
    padding-top: 10px;

    label{
      position: absolute;
      top: 0px;
      opacity: 0;
      background: #fff;
      color: #a1a1a1;
      left: 7px;
      font-weight: normal;
      padding: 0 6px;
      transition: 0.3s all;
    }

    input, select, textarea{
      &:focus~label, &.active~label{
        opacity: 1;
      }
    }


  }
}


.form-control{
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #e8e8e8;
  -webkit-appearance: none;
  height: 40px;
  &:focus{
    box-shadow: none;
  }
}


button, .btn{
  outline: none!important;
  text-transform: uppercase;
  font-weight: bold;
  color: #8e8e8e;
  background: #dcdcdc;
  font-size: 13px;
  &.active, &:active, &:focus {
    box-shadow: none;
    outline: none!important;
  }

  &.btn-blue{
    background: $blue;
    color: #fff;
  }




  &.active.focus, &.active:focus, &.focus, &:active.focus, &:active:focus, &:focus{
    outline: none;
  }
  &.btn-icon{
    background: transparent;
    font-size: 24px;
    padding: 2px 15px;
  }

  &.btn-round{
    border-radius: 30px;
    color: #8e8e8e;
    background: #dcdcdc;
    text-transform: uppercase;
    padding: 11px 20px;
    text-align: center;
    font-weight: bold;
    transition: 0.3s all;
    &.btn-orange{
      background: $orange;
      color: #fff;
      box-shadow: 0 0 0 7px rgba(255, 134, 0,0.12);
      &:hover{
        background: $darkOrange;
        box-shadow: 0 0 0 12px rgba(255, 134, 0,0.05);
      }
      &:active{
        background: $darkOrange;
        box-shadow: 0 0 0 0px rgba(255, 134, 0,0.12);
      }
    }

    &.btn-dark-blue{
      background: $darkBlue;
      box-shadow: 0 0 0 7px  rgba(0, 128, 183, 0.12);
      color: #fff;
      &:hover{
        background: $darkBlue;
        box-shadow: 0 0 0 12px rgba(0, 128, 183, 0.05);
      }
      &:active{
        background: $darkBlue;
        box-shadow: 0 0 0 0px rgba(0, 128, 183, 0.12);
      }
    }

    &.btn-blue{
      background: $blue;
      color: #fff;
      box-shadow: 0 0 0 7px rgba(0, 175, 224,0.12);
      &:hover{
        background: $darkBlue;
        box-shadow: 0 0 0 12px rgba(0, 175, 224,0.05);
      }
      &:active{
        background: $darkBlue;
        box-shadow: 0 0 0 0px rgba(0, 175, 224,0.12);
      }
    }
  }

  &.btn-left-icon {
    position: relative;
    padding-left: 50px;
    i{
      position: absolute;
      left: 17px;
      font-size: 16px;
      top: 50%;
      transform: translateY(-50%)
    }
  }
}

header{
  border-bottom: 1px solid #e4f2f8;
  background: #fff;
  .top-menu{
    background: #fbfbfb;
    height: 30px;
    padding: 7px 0;
    color: #7f7f7f;
    font-size: 12px;
    .nav>li>a {
      padding: 0px 9px;
      i{
        padding-right: 5px;
      }
    }
    span~span{
      margin-left: 30px;
      a{
        color: #7f7f7f;
      }
    }
  }

  .menu{
    padding: 15px 0;
    .container{
      position: relative;
    }

    [class^="col-"], [class*=" col-"] {
      position: static;
    }

    .nav-pills {
      display: table;
      margin: 0 auto;
      width: 100%;
      &> li {
        display: table-cell;
        float: none;
        &> a {
          font-weight: bold;
          color: #464646;
          font-size: 13px;
          &:hover{
            background: transparent;
            color: $darkBlue;
          }
        }

        &:hover{
          .dropdown-menu{
            display: block;
            background: #00afe0;
            color: #fff;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            min-width: 220px;
            padding: 10px 0;
            margin: 0;
            font-size: 13px;

            &:before{
              content: "";
              position: absolute;
              left: 20px;
              top: -16px;
              border: 10px solid transparent;
              border-bottom: 7px solid $blue;
            }

            .nav>li>a{
              color: #fff;
              padding: 10px 15px;
              &:hover{
                background: $darkBlue;
              }
            }
          }
        }
      }
    }


    .logo {
      display: block;
      margin-top: 5px;
    }

    .search-form {
      background: #fff;
      position: absolute;
      top: 0;
      width: 0;
      left: 100%;
      transition: 0.3s all;
      overflow: hidden;
      opacity: 0;
      .form-control{
        border: 0;
        border-bottom: 1px solid #e8e8e8;
      }
    }
    .btn-icon{
      float: left;
      transition: 0.3s all;
      left: calc(100% - 50px);
    }
    .basket {
      display: inline-block;
      font-size: 24px;
      color: #333;
      padding: 3px 15px;
      float: left;
      position: relative;
      text-decoration: none;

      .count{
        position: absolute;
        top: 2px;
        right: 5px;
        border-radius: 50%;
        background: #00afe0;
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        padding: 1px 5px;
      }
    }

  }
}

.modal-dialog{
  background: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,0.15);
}

.modal-content {
  box-shadow: none;
  border-radius: 0;
  border: 0;
  padding: 0px 20px 20px 20px;

  .btn{
    min-width: 150px;
  }
}

.modal-header{
  text-align: center;
  border: 0;
  .title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin:30px 0 10px 0;
  }

  .close {
    top: 20px;
    position: absolute;
    right: 30px;
    font-size: 16px;
  }
}

.modal-footer{
  background: #fbfbfb;
  text-align: center;
  color: $gray;
  border: 0;
  a{
    color: #333;
    text-decoration: underline;
  }
}

.modal-backdrop{
  background: #fff;
  &.in {
    opacity: 0.8;
  }
}


.socials {
  display: inline-block;
  list-style: none;
  font-size: 39px;
  color: #ddd;
  padding: 0;
  margin: 0;
  float: left;
  li {
    float: left;
    margin-right: 15px;
    a{
      color: #ddd;
      transition: 0.3s all;
      text-decoration: none;
      &:hover{
        color: $blue;
      }
    }
  }
}

.logotypes{
  border-top:1px solid #e8e8e8;
  padding: 20px 0;
  margin-top: 30px;
  a{
    text-decoration: none;
  }
  img{
    max-height: 60px;
    max-width: 120px;
  }
  a~a{
    padding-left: 50px;
  }
}

footer{
  background: #2d2d2d;
  color: #828282;

  h3{
    color: #c5c5c5;
  }

  .nav>li>a{
    padding: 5px 0;
    &:hover{
      background: transparent;
      color: #c5c5c5;
    }
  }
  .middle{
    padding: 30px 0;
  }
  a{
    color: #828282;
  }
  .copyrights{
    background: #2a2a2a;
    color: #535353;
    font-size: 12px;
    padding: 10px 0px;
    a{
      color: #535353;
    }
  }
}

.modal-cart{
  .item{
    display: table;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    padding: 15px;
    position: relative;
    &>.btn{
      position: absolute;
      top: 10px;
      right: 0px;
      min-width: inherit;
      font-size: 14px;
    }
    .img{
      vertical-align: middle;
      width: 122px;
      height: 122px;
      overflow: hidden;
      display: table-cell;
      text-align: center;
      img{
        max-height: 100%;
        max-width: 100%;
      }
    }
    .content{
      display: table-cell;
      vertical-align: middle;
      .title{
        @include title();
      }
      .description{
        color: $gray;
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
      }
    }

    .prices{
      font-size: 16px;
      text-align: right;
      .quantity{
        margin: 10px 20px;
      }
    }
  }

  .cost{
    padding: 20px 0;
    text-align: right;
    span{
      text-transform: uppercase;
    }
    strong{
      padding-left: 10px;
      font-size: 24px;
    }
  }

  .btns{
    text-align: right;
    .btn{
      margin-left: 30px;
    }
  }
}

.quantity{
  width: 130px;
  position: relative;
  display: inline-block;
  input{
    padding: 8px 50px;
    text-align: center;
  }

  .btn{
    min-width: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    padding: 10px 13px;
    color: $gray;
    &:first-of-type{
      left: 0;
    }
    &:last-of-type{
      right: 0;
    }
  }
}


.products{
  .item{
    @include shadow();
    display: table;
    width: 100%;
    margin-bottom: 30px;
    height: auto;
    overflow: hidden;
    .img, .content{
      display: table-cell;
      vertical-align: middle;
    }
    .content{
      vertical-align: top;
    }

    .img{
      width: 200px;
      text-align: center;
    }

    img{
      max-width: 100%;
      max-height: 100%;
    }

    .content{
      padding: 30px 20px;
    }



    .title{
      @include title();
      small{
        font-weight: normal;
      }
    }

    @include list();

    .btn{
      margin-top: 20px;
    }

  }
}


.accessories{

  h2{
    margin: 30px 0;
  }

  .item{
    @include shadow();
    display: table;
    width: 100%;
    margin-bottom: 30px;
    height: auto;
    overflow: hidden;
    padding: 25px 15px;




    .title{
      @include title();
      line-height: 22px;
      height: 44px;
      overflow: hidden;
      display: block;

    }

    .img{
      margin-bottom: 10px;
      display: block;
      height: 200px;
      text-align: center;
    }
    img{
      max-width: 100%;
      max-height: 100%;
    }

    .description{
      color: $gray;
      font-size: 12px;
      line-height: 18px;
      height: 36px;
      overflow: hidden;
      margin-bottom: 20px;
    }
    .btns{
      strong{
        line-height: 40px;
      }
    }

  }
}

.product-head{
  @include shadow();
  margin-top: -20px;
  .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    @include centerIn();
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .gallery-top {
    height: 365px;
    padding: 10px;
    width: calc(100% - 90px);
    margin-left: 10px;
    border: 1px solid #e8e8e8;
  }
  .gallery-thumbs {
    height: 365px;
    width: 80px;
    float: left;
    .swiper-wrapper{
      margin-top:-140px;
    }
  }
  .gallery-thumbs .swiper-slide {
    width: 70px;
    height: 70px;
    padding: 10px;
    border: 1px solid #e8e8e8;

    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-active {
    opacity: 1;
    border-color: $blue;
  }

  @include list();
  ul{
    margin: 30px 0;
  }
  .price-blocks{
    background: #fbfbfb;
    border-radius: 5px;
    .item{
      padding: 20px;
      .btn{
        margin-top: 15px;
      }
      &~.item{
        border-top: 3px solid #fff;
      }
    }
  }

  .tabs{
    text-transform: uppercase;
    ul{
      margin: 0;
      border-bottom: 0;
      &>li {
        padding: 0px;
        width: 25%;
        &:before{
          content: none;
        }

        &.active>a{
          border: 0;
          color: $blue;
          border-bottom: 4px solid $blue;
          font-weight: bold;
          &:hover{
            border: 0;
            border-bottom: 4px solid $blue;
            background: transparent;
          }
        }
        &>a{
          text-align: center;
          display: block;
          font-size: 18px;
          padding: 15px 30px;
          border-radius: 0;
          color: #333;
          border: 0;
          border-bottom: 4px solid transparent;
          &:hover{
            border: 0;
            border-bottom: 4px solid transparent;
            background: transparent;
          }
        }
      }
    }

  }
}
.product-body{
  .tab-content{
    padding: 30px 0;
  }
}

.benefits{
  .item{
    margin-bottom: 35px;
    position: relative;

    h2{
      font-size: 18px;
      margin: 20px 0;
      text-transform: uppercase;
    }

    .content{
      width:  100%;
      color: #7a7a7a;
      padding: 50px;
      @include shadow();
      padding-left: calc(50% + 50px);
      p{
        margin-bottom: 20px;
      }
    }

    .img{
      position: absolute;
      top:-15px;
      left: 0;
      width: calc(50% - 10px);
      height: calc(100% + 30px);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      @include shadow();
      padding: 10px;

      h3{
        font-size: 14px;
        text-transform: uppercase;
      }

      &.contain{
        background-size: contain;
        box-shadow: 0 0px 15px rgba(0,0,0,0.1);
      }
    }

    &:nth-of-type(2n){
      .content{
        padding: 50px;
        padding-right: calc(50% + 50px);
      }
      .img{
        left: inherit;
        right: 0;
      }
    }
    .specification{
      display: table;
      width: 100%;
      .table-cell{
        display: table-cell;
        vertical-align: bottom;
        padding-right: 30px;
      }
    }


    .downloads{
      display: inline-block;
      width: 100%;

      .warranty{
        float: left;
        margin-bottom: 20px;
      }

      .icon{
        width: 60px;
        float: left;
        margin: 25px 20px 25px 40px;
      }
      .links{
        float: left;
        line-height: 23px;
        margin-top: 30px;
        a{
          font-size: 13px;
          font-weight: bold;
          display: block;
          text-decoration: underline;
          color: $blue;
        }
      }
    }
  }
}
.checkbox{
  input{
    display: none;
    &+label{
      margin-bottom: 10px;
      padding-left: 40px;
      color: $gray;
      transition: 0.3s all;

      .title {
        line-height: 20px;
      }

      &:before{
        content: "";
        position: absolute;
        left: 5px;
        top:1px;
        display: block;
        border: 1px solid #e8e8e8;
        width: 20px;
        height: 20px;
        transition: 0.3s all;
      }
      &:after{
        @include icon();
        content: "\e90b";
        color: #fff;
        position: absolute;
        left: 9px;
        top: 5px;
        font-size: 13px;
        transition: 0.3s all;
        transform: scale(0);
      }

      .description{
        font-size: 12px;
        line-height: 18px;
        display: table;
        width: 100%;
        margin-top: 5px;
        font-weight: normal;
        .text, .price{
          display: table-cell;
          vertical-align: middle;
        }

        .price{
          font-weight: bold;
          font-size: 14px;
          width: 60px;
          color: #333;
          text-align: right;
        }
      }
    }

    &:checked+label{
      .title{
        color: #333;
      }

      &:before{
        border-color: $orange;
        background: $orange;
        box-shadow: 0 0 0 3px rgba(255, 134, 0,0.12);
      }
      &:after{
        transform: scale(1);
      }
    }
  }
}

.sell{
  margin-bottom: 30px;
  .item{
    height: 330px;
    overflow: hidden;
    margin: 20px 0;
    @include shadow();
    padding: 30px 15px;
    text-align: center;
    position: relative;

    .img{
      display: block;
      height: 230px;
    }
    img{
      max-width: 100%;
      max-height: 100%;
    }
    .title{
      @include title();
      margin-top: 10px;
      height: 44px;
      font-size: 14px;
      overflow: hidden;
      @include centerIn();
    }

    .description{
      color: $gray;
      margin: 20px 0;
    }

    .price{
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    h2{
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  [class^="col-"],  [class*=" col-"]{
    position: relative;
    &~div{
      &:before{
        content: "";
        background-color: #eefdff;
        border-radius: 50%;
        width: 88px;
        height: 88px;
        position: absolute;
        background-image: url(../img/plus.svg);
        background-size: 42px;
        background-position: center center;
        top: 50%;
        background-repeat: no-repeat;
        left: 0;
        z-index: 2;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    &:last-of-type{

      &:before{
        background-image: url(../img/minus.svg);
      }
    }
  }
}

.round-radio{
  .title{
    font-size: 13px;
  }
  input{
    display: none;
    &+label{
      border-radius: 50%;
      background: #e8e8e8;
      width: 34px;
      height: 34px;
      color: #a2a2a2;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      padding: 8px 0;
      margin: 15px 7px;
      cursor: pointer;
      transition: 0.3s all;
      &:hover{
        background: #dedede;
      }
    }

    &:checked+label{
      background: $orange;
      color: #fff;
      box-shadow: 0 0 0 5px rgba(255, 134, 0,0.12);
      &:hover{
        background: $darkOrange;
        box-shadow: 0 0 0 7px rgba(255, 134, 0,0.05);
      }
      &:active{
        background: $darkOrange;
        box-shadow: 0 0 0 0px rgba(255, 134, 0,0.12);
      }

    }
  }
}

.cart{
  .item{
    @include shadow();
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    width: 100%;
    &>.btn-icon{
      position: absolute;
      top: 12px;
      right: 5px;
      font-size: 14px;
    }

    .img {
      width: 112px;
      height: 112px;
      float: left;
      img{
        max-height: 100%;
        max-width: 100%;
      }
    }

    .title{
      @include title();
    }

    .content{
      float: left;
      width: 250px;
      .description{
        line-height: 20px;
        height: 60px;
        overflow: hidden;
        color: $gray;
      }
    }

    .count{
      float: left;
      margin-left: 20px;
      strong{
        font-size: 16px;
      }
      .quantity{
        margin: 35px 30px;
      }

    }
  }

  .total{
    @include shadow();
    padding: 30px 30px;

    h3{
      font-size: 15px;
      margin-top: 0;
      margin-left: 5px;
    }
    .btn{
      margin-top: 20px;
    }

    .price{
      margin: 0 5px;
      border-top: 1px solid #e8e8e8;
      padding: 10px 0;
      small{
        color: $gray;
      }

      span{
        padding-left: 10px;
        font-weight: bold;
        font-size: 24px;
      }
    }
  }
}

.order{


  margin-bottom: 30px;

  .main{
    margin-bottom: 20px;
  }
  h2{
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 0;
  }
  .card{
    @include shadow();
    padding: 30px;
  }
  .cards {
    display: inline-block;
    width: 100%;
    img{
      width: 40px;
      margin: 10px 20px 20px 0;
    }
  }

  .shipping-checkbox{
    float: right;
  }

  .total{

    h2{
      margin-top: 20px;
    }

    .price {
      text-align: center;
      small {
        text-transform: uppercase;
        font-size: 12px;
        color: $gray;
        display: block;
      }
      span {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}
.ui-selectmenu-button.ui-button{
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #e8e8e8;
  -webkit-appearance: none;
  height: 40px;
  line-height: 28px;
  background: #fff;
  outline: none;
  padding-right: 40px;
  position: relative;
  width: 100%;
  font-family: 'Open Sans';
  font-size: 14px;
  .ui-selectmenu-icon.ui-icon{
    position: absolute;
    border-radius: 50%;
    background: #e8e8e8;
    width: 26px;
    height: 26px;
    top: 6px;
    right: 7px;
    &:before{
      @include icon();
      content: "\e902";
      position: absolute;
      top: 10px;
      left: 8px;
      transform: rotate(90deg);
      font-size: 9px;
      color: #333;
      text-indent: initial;
      opacity: 0.5;
      text-align: center;
      padding:0;
      margin:0;
    }

  }
}


.ui-widget.ui-widget-content {
  border: 1px solid #e8e8e8;
  .ui-menu-item-wrapper {
    padding: 8px 15px;
  }
  .ui-state-active{
    background: $blue;
    border-color: $blue;
  }

}

.padding-sm{
  padding: 30px;
}

aside{
  .nav {
    &> li {
      & > a {
        @include shadow();
        background: #fff;
        color: $darkBlue;
        padding: 16px 15px;
        i{
          font-size: 17px;
          padding-right: 10px;
          float: left;
        }
        &:hover, &:focus{
          background: #fff;
        }
      }
      &.active{
        & > a {
          background: $blue;
          color: #fff;
        }
      }
    }
  }
}



.check-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
  li{
    padding-left: 60px;
    position: relative;
    margin-top: 15px;
    &:before{
      @include icon();
      content: "\e92c";
      color: $blue;
      position: absolute;
      top: 0px;
      left: 17px;
      font-size: 18px;
    }
  }
}

.card{
  @include shadow();
  background: #fff;
  color: #505050;
  img{
    max-width: 100%;
  }
  p{
    margin-bottom: 25px;
  }
}


.page-404{
  text-align: center;
  color: $gray;
  img{
    max-width: 100%;
    margin: 100px 0 0 0;
  }
  .btn{
    margin: 30px 0;
  }
}


.marked{
  margin: 0;
  padding: 0;
  color: #505050;
  list-style-type: none;
  margin-bottom: 30px;
  li{
    position: relative;
    padding: 5px 5px 5px 30px;
    &:before{
      content: "";
      position: absolute;
      top:12px;
      left: 5px;
      width: 6px;
      height: 6px;
      background: $blue;
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      border-radius:50%;

    }
  }
}

.careers-img{
  background: url(/img/careers.png);
  padding: 40px 90px;
  @include shadow();
  text-align: center;
  height: 417px;
  background-size: cover;
  background-position: center center;
  .title{
    font-size: 18px;
    color: #505050;
    font-weight: bold;
    border-bottom: 1px solid #bdddf0;
    padding-bottom: 20px;
  }

  .big-text{
    font-size: 42px;
    font-weight: bold;
    color: $blue;
  }
}

.careers-item{
  @include shadow();
  background: #fff;
  color: #505050;
  margin-top: 30px;
  padding: 20px 60px;
  height: 440px;
  .img{
    background: $lightBlue;
    border-radius: 50%;
    width: 164px;
    height: 164px;
    display: table;
    padding: 50px;
    text-align: center;
    margin: 20px auto;
    .img{
      max-width: 100%;
    }
  }
  .title{
    font-weight: bold;
    color: #fff;
    background: $blue;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    padding: 11px 20px;
    display: table;
    margin: -60px auto 20px auto;
  }
}

.careers-email{
  @include shadow();
  background: #fff;
  color: $gray;
  margin-top: 30px;
  padding: 0 116px;
  position: relative;
  .img{
    position: absolute;
    height: 100%;
    top:0;
    left: 0;
    background: $lightBlue;
    width: 116px;
    padding: 30px 35px;
    float: left;
    img{
      max-width: 100%;
    }
  }

  .btn{
    position: absolute;
    top: 34px;
    right: 40px;
    width: 180px;
  }
  .text{
    text-align: center;
    padding: 30px 20px;
    .title{
      color: #333;
      font-weight: bold;
      font-size: 22px;
    }
  }
}

.contact-header{
  padding: 5px 20px 25px 100px;
  position: relative;
  p{
    margin-bottom: 0;
    color: #7a7a7a;
  }

  a{
    &.phone{
      color: #7a7a7a;
      font-weight: bold;
      font-size: 14px;
      padding-right: 10px;
    }

  }
  &:before{
    @include icon();
    content: "\e925";
    background: #e8e8e8;
    width: 85px;
    height: 100%;
    position: absolute;
    top: 0;
    color: #bababa;
    font-size: 40px;
    left: 0;
    text-align: center;
    padding: 27px 0;
  }
}

.contact-item{
  @include shadow();
  background: #fff;
  padding: 25px;
  margin-bottom: 30px;
  .head{
    font-size: 16px;
    font-weight: bold;
    i{
      color: #ddd;
      font-size: 21px;
      float: left;
      margin-right: 15px;
    }
  }

  .item{
    display: table;
    width: 100%;
    margin-top: 20px;
    font-size: 13px;
    p{
      margin-bottom: 0;
      line-height: 20px;
    }
    .img, .content{
      display: table-cell;
      color: $gray;
    }
    .img{
      width: 36px;
      img{
        width: 22px;
      }
    }
  }
}

.inline-block{
  display: inline-block;
}

.italic{
  font-style: italic;
}


.perfomances{
  .item{

    @include shadow();
    background: #fff;
    display: table;
    position: relative;
    margin-top: 20px;
    padding-right: 20px;
    overflow: hidden;
    width: 100%;

    .img, .content{
      display: table-cell;
      color: $gray;
      vertical-align: middle;
      position: relative;
    }

    .content{
      padding: 15px 15px;
      vertical-align: middle;
      height: 170px;
    }

    .title{
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
      color: #505050;
    }
    .img{
      width: 100px;
      color: $darkBlue;
      text-align: center;
      i{
        font-size: 36px;
        &:first-of-type{
          position: absolute;
          top: 0%;
          left: 0;
          font-size: 130px;
          opacity: 0.1;
          transform: translateX(-20%) translateY(-25%);
        }
      }
    }

  }
}

.customer-table{
  display: table;
  width: 100%;
  .img, .content{
    display: table-cell;
    color: #505050;
    vertical-align: top;
    position: relative;
  }

  .img{
    width: 160px;
  }
}

.faqs{
  margin-top:15px;
  font-size: 13px;
  color: #505050;
  .question{
    @include shadow();
    background: #fff;
    position: relative;
    padding: 21px 15px 21px 110px;
    font-weight: bold;
    &:before{
      display: block;
      position: absolute;
      background: $blue;
      width: 90px;
      height: 90px;
      top: -15px;
      left: 0;
      @include icon();
      content: "\e918";
      color: #fff;
      font-size: 70px;
      border-radius: 5px;
      padding: 21px 0;
      overflow: hidden;
    }
  }

  .answer{
    @include shadow();
    background: #fff;
    margin: 15px 0 15px 100px;
    padding: 15px 15px;
    position: relative;
    color: #505050;
    &:before{
      content: "";
      display: block;
      position: absolute;
      top: -19px;
      left: 20px;
      border: 10px solid transparent;
      border-bottom: 10px solid #fff;
    }
  }
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border: 0;
}

.testimonials{
  .item{
    @include shadow();
    background: #fff;
    margin-top: 20px;
    display: table;
    width: 100%;
    .img{
      width: 115px;
      display: table-cell;
      vertical-align: top;
      padding: 20px;
      img{
        max-width: 100%;
      }
    }
    .content{
      padding: 20px 20px 20px 0px;
      display: table-cell;
      vertical-align: middle;

      .title{
        font-weight: bold;
      }
      .city{
        color: $gray;
      }
      .text{
        margin-top: 10px;
      }
    }
  }
}

.ratings{
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style-type: none;
  color: #ddd;
  line-height: 11px;
  li{
    float: left;
    i.yellow{
      color: #ffc002;
    }
    &~li{
      margin-left: 5px;

    }
  }
}

.blocks-with-circle{

  margin-bottom: 40px;
  .item{
    display: table;
    width: 100%;
    padding: 10px 10px;
    .img, .content{
      display: table-cell;
      vertical-align: top;
      padding:10px;
    }

    .img{
      width: 100px;
      .circle{
        background: #eefdff;
        width: 70px;
        height: 70px;
        padding: 20px;
        border-radius: 50%;
      }
    }

    .title{
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}

.rental-table{

  .table > tbody > tr > th{
    border-bottom: 5px solid #e8e8e8;
    padding: 10px 20px;
  }

  .table > tbody > tr > td{
    border-bottom: 1px solid #e8e8e8;
    padding: 20px;
    &:first-of-type{
      text-align: center;
    }
  }

  a{
    color: #505050;
    text-decoration: underline;
  }

  img{
    max-height: 250px;
  }

}

.quete{
  padding: 15px;
  font-style: italic;
  color: #9a9a9a;
  border-radius: 5px;
  background: #fbfbfb;

}


#circle-spin{

 a{

   position: absolute;
   top: calc(50% - 45px);
   height: 50px;
   left: 50%;
   @include transfrom(translate(-50%,-50%));
 }

  .role{

    position: absolute;
    top: calc(50% + 65px);
    height: 50px;
    left: 50%;
    @include transfrom(translate(-50%,-50%));
  }

  .modal-circle{
    &:after{
      content: "";
      position: absolute;
      background: $blue;
      width: 80px;
      height: 80px;
      top: -40px;
      left: 50%;
      @include transfrom(translate(-50%,0) rotate(45deg));
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    }
  }

}

.modal-circle {
  border-radius: 50%;
  overflow: hidden;
  width: 510px;
  height: 510px;
  color: #aeaeae;
  text-align: center;

  .win-off{
    font-weight: 800;
    color: #60acda;
    font-size: 50px;
    margin-bottom: 20px;
    position: relative;
    &:after{
      content: "";
      background: $orange;
      position: absolute;
      width: 100px;
      height: 1px;
      bottom: 0;
      left: 50%;
      @include transfrom(translate(-50%,0));

    }
  }

  .thanks{
    background: url(../img/crcle.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: 1s all;
    position: absolute;
    padding: 160px 40px;
    font-size: 13px;
    color: #aeaeae;

    .btn {
      margin-top: 20px;
      width: 150px;
    }
  }
  .alert{
    text-align: left;
    @include transfrom(scale(0.8));
    display: table;
    margin: -10px auto 0px auto;
  }
  a{
    color: #777;
    text-decoration: underline;
    font-size: 14px;
  }
  .role{
    font-size: 11px;
  }


  .btn-center{
    position: absolute;
    top: 50%;
    width: 130px;
    height: 50px;
    font-size: 16px;
    left: 50%;
    @include transfrom(translate(-50%,-50%));
  }


  .modal-content{
    background: transparent;
  }

  .discounts{
    position: absolute;
    background: url(../img/circle-spin.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: 1s all;

    .item{
      position: absolute;
      color: #c9c9c9;
      font-size: 22px;
      font-weight: 800;
      transition: 0.3s;
      &:nth-of-type(1){
        top: 75px;
        left: 50%;
        @include transfrom(translate(-50%,0));

      }
      &:nth-of-type(2){
        top: 160px;
        right: 65px;
        @include transfrom(rotate(60deg));
      }
      &:nth-of-type(3){
        bottom: 160px;
        right: 65px;
        @include transfrom(rotate(120deg));
      }
      &:nth-of-type(4){
        bottom: 75px;
        left: 50%;
        @include transfrom(translate(-50%,0) rotate(180deg));
      }
      &:nth-of-type(5){
        bottom: 160px;
        left: 65px;
        @include transfrom(rotate(-120deg));
      }
      &:nth-of-type(6){
        top: 160px;
        left: 65px;
        @include transfrom(rotate(-60deg));
      }

      &.active{
        color: $blue;
      }
    }
  }
}

.modal.fade{
  .modal-circle{
    @include transfrom(translate(0,-25%) scale(0));
    transition: 1s all;
    .discounts, form, .thanks{
      @include transfrom(rotate(360deg) scale(0));
    }
  }
}

.modal.in {
  .modal-circle{
    @include transfrom(translate(0,0) scale(1));
    transition: 1s all;
    .discounts, form, .thanks{
      @include transfrom(rotate(0deg) scale(1));
    }
  }
}

#circle-win{
  form{
    background: url(../img/crcle.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: 1s all;
    position: absolute;
    padding: 80px 90px;
    font-size: 13px;
    color: #aeaeae;

    .form-group {
      margin-bottom: 20px;
    }
    .win-text{
      font-weight: bold;
    }



    .form-control{
      background: transparent;
    }
  }


}


.bottom-call{
  background: rgba(255,255,255,0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0px -5px 20px rgba(0,0,0,0.1);
  z-index: 200;
  padding: 10px 0;
  .questions{
    .big{
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 800;
      line-height: 40px;

    }
  }

  .phone{
    position: absolute;
    background: $orange;
    color: #fff;
    text-align: center;
    top: -30px;
    padding: 30px 0;
    left: 50%;
    @include transfrom(translate(-50%,0));
    border-radius: 50%;
    width: 100%;
    height: 254px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    .big{
      color: #fff;
      font-size: 40px;
      font-weight: 800;
      line-height: 44px;
    }
  }

  .timer{
    color: #919191;
    display: inline-block;

    margin-top: 5px;
    float: right;
    .text{
      float: left;
      margin-top: 5px;
      text-align: right;
      font-size: 14px;
      strong{
        display: block;
      }
    }
    #clock{
      float: left;
      margin-left: 15px;
    }
  }

  #clock{

    display: table;
    margin: 0 auto;
    .item {
      display: inline-block;
      float: left;
      width: 43px;
      text-align: center;
      position: relative;
      div {
        display: inline-block;
        width: 43px;
        height: 43px;
        border: 1px dashed #e8e8e8;
        font-size: 24px;
        color: #333;
        font-weight: 800;
        line-height: 40px;
      }

      &~.item{
        margin-left: 15px;
        &:before{
          content: ":";
          position: absolute;
          left: -10px;
          top:0;
          font-size: 24px;
          color: #333;
          font-weight: 800;
          line-height: 40px;

        }
      }
      span {
        display: inline-block;
        width: 43px;
        color: #c0c0c0;
        font-size: 11px;
      }
    }
  }
}


.offer{
  .modal-dialog{

    min-height: 420px;
    background: #fff url(../img/box.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    text-align: center;

    padding: 5px 15px;

    .role{
      font-size: 11px;
      color: #aeaeae;
    }
    .form-control{
      border-radius: 5px;
      border: 0;
      width: 272px;
      display: table;
      margin: 0px auto 0 auto;
      height: 46px;
      line-height: 46px;
      text-align: center;

    }

    .win-text{
      font-weight: bold;
      color: #dedede;
      font-size: 24px;
      padding-bottom: 15px;
      margin-top: 30px;
      margin-bottom: 0px;
      position: relative;
      display: block;
      &:after{
        content: "";
        background: $orange;
        position: absolute;
        width: 100px;
        height: 1px;
        bottom: 0;
        left: 50%;
        @include transfrom(translate(-50%,0));

      }
    }

    .btn{
      height: 50px;
      font-size: 16px;
      margin-top: 25px;
      margin-bottom: 5px;
      padding: 0 40px;
    }


    .win-off{
      font-weight: 800;
      color: #333;
      font-size: 70px;
      margin-bottom: 40px;
    }

    .win-thanks{
      font-weight: 800;
      color: #333;
      font-size: 50px;
      margin-bottom: 80px;
      margin-top: 80px;
    }



    .alert{
      text-align: left;
      display: table;
      margin: -40px auto 40px auto;
    }

  }

}

.landing section{
  background: url(../img/landing-bg.jpg);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;

  .logo{
    padding: 60px 20px;
    display: block;
    img{
      width: 283px;
      height: 44px;
    }
  }

  .sidebar{
    background: #fff;
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
    .title {
      font-size: 30px;
      font-weight: 800;
      padding: 90px 30px;
    }


    .phone{
      background: $blue;
      color: #fff;
      box-shadow: 0 0px 40px rgba(0,0,0,0.15);
      margin-left: -10px;
      width: calc(100% + 20px);
      font-size: 30px;
      padding: 30px 40px ;
      a{
        font-weight: 800;
        line-height: 30px;
        color: #fff;
        display: block;
        font-size: 40px;
        margin-bottom: 5px;
        text-decoration: none!important;
      }
    }

    .text{
      font-size: 16px;
      line-height: 30px;
      padding: 25px 30px;
      font-weight: 100;
      .big{
        font-weight: bold;
        font-size: 20px;
      }
    }

    .discount{
      background: #e9eef4;
      color: #9ca3ab;
      line-height: 40px;
      display: inline-block;
      width: 100%;
      .info{
        float: left;
        padding: 10px 30px;
        width: 40%;
      }
      .percent{

        padding: 10px 30px;
        color: #333;
        font-weight: 800;
        font-size: 40px;
        line-height: 40px;
        float: left;
        width: 60%;
        text-align: right;
        position: relative;
        background: url(../img/disc.png);
        background-repeat: no-repeat;
        background-position: -11px -20px;
      }
    }
    .btn{
      display: table;
      margin: 40px auto;
      width: 220px;
      margin-bottom: 60px;
    }

  }

  .products{
    margin-top: 327px;
    .item{
      .img{
        display: block;
        height: 280px;
        width: 100%;
        padding: 20px;
        text-align: center;
        @include centerIn();
        img{
          max-width: 100%;
          max-height: 100%;
        }
      }

      .title{
        color: #4e575f;
        font-size: 16px;
      }
      .gray-block{
        padding: 20px;
        background: #fbfbfb;
        text-align: center;

        .btn{
          min-width: 160px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.landing{
  background: #fff;
  padding-bottom: 37px;
}
.landing + footer{
  margin-top: -37px;
  .copyrights {
    background: #e8e5f4;
    color: #b1b1b1;
    font-size: 12px;
    padding: 10px 0px;
    a{
      color: #b1b1b1;
    }
  }
}
@import "media";