

.main-top{
  height: 460px;
  background: url(../img/slider.png);
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 90px;
  @include wave();

  .title{
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .btn{
    min-width: 40%;
    margin-top: 20px;
    &~.btn{
      margin-left: 10%;
    }
  }
}


.choose-house{
  padding: 50px 0;
  background: #fff;
  text-align: center;
  .text{
    color: $gray;
    padding: 30px 0 60px 0;
  }
  .btn{
    margin: 40px 0;
    min-width: 150px;
  }
  .houses{

    height: auto;
    opacity: 1;
    transition: 0.3s all;
  }

  .houses-single{
    height: 0;
    overflow: hidden;
    text-align: left;
    opacity: 0;
    transition: 0.3s all;
    h3{
      margin-top: 30px;
    }
    .btn{
      float: right;
    }

    &.open{
      height: auto;
      opacity: 1;
      &~.houses{
        height: 0;
        opacity: 0;
        overflow: hidden;
      }
    }
  }

}


.main-products{
  background: url("../img/slider-bg.jpg");
  background-size: cover;
  @include wave();
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    background: #fff;
    padding: 25px;
    font-size: 13px;
    .img{
      height: 210px;
      overflow: hidden;
      margin-bottom: 10px;
      display: block;
      text-align: center;
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }

    .title{
      font-size: 16px;
      color: #333;
      font-weight: bold;
      line-height: 24px;
      height: 48px;
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      small{
        font-weight: normal;
      }
    }

    .description {
      margin-top: 10px;
      font-size: 12px;
      line-height: 20px;
      height: 100px;
      overflow: hidden;
      color: $gray;
    }

    .btn{
      width: calc(100% - 20px);
      margin: 20px 0 10px 0;
    }
  }

  .swiper-button-prev, .swiper-button-next {
    background: $blue;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
  }

  .swiper-button-disabled{
    opacity: 0;
  }
  .swiper-button-next{
    right: -5px;
  }

  .swiper-button-prev {
    left: -5px;
    i {
      transform: rotate(180deg);
      display: inline-block;
    }
  }

}

.main-benefits{

  padding: 50px 0;
  background: #fff;
  .item{
    display: table;
    width: 100%;
    margin-top: 30px;
    .icon{
      display: table-cell;
      vertical-align: top;
      i {
        background: $blue;
        color: #fff;
        width: 76px;
        height: 76px;
        @include centerIn();
        border-radius: 50%;
        border: 10px solid #f8fcff;
        font-size: 30px;
      }
    }
    .content{
      display: table-cell;
      vertical-align: top;
      padding: 10px;
      .title{
        font-size: 16px;
        font-weight: bold;
        color: $darkBlue;
        margin-bottom: 10px;
      }
      .text{
        font-size: 13px;
        line-height: 20px;
        height: 60px;
        overflow: hidden;
      }
    }
  }
}

.main-testimonials{
  padding: 150px 0 50px 0;
  img{
    max-width: 100%;
  }
  @include wave();
  &:before{
    bottom: inherit;
    top:0;
    transform: rotate(180deg);
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    margin-top: 20px;
    padding: 0 80px;
    padding-bottom: 60px;
  }

  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border: 3px solid #fbfbfb;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
    transition: 0.3s all;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    border-color: $blue;
    background: $blue;
  }

}





@media (max-width: 991px) {
  .main-top{
    background-position: right center;
    padding-top: 30px;
    height: 400px;
  }

  .main-testimonials{
    .swiper-slide {
      padding: 0;
      padding-bottom: 60px;
    }
  }
}


@media (max-width: 767px) {

  .main-top{
    .title{
      font-size: 18px;
    }
  }
  .choose-house{
    .text {
      padding-bottom: 0;
    }
  }

  .choose-house{
    .houses-single{
      h3{
        margin-top: 0;
      }
    }
  }


  .main-products{
    .swiper-slide {
      .img{
        height: 160px;
      }
    }
  }

  .main-benefits{
    .item{
      margin-top: 10px;
      display: block;
      .content{
        .text{
          height: auto;
        }
      }
    }
  }

}