.main-top {
  height: 460px;
  background: url(../img/slider.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  text-align: center;
  padding-top: 90px; }
  .main-top:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url("../img/wave.png");
    height: 100px; }
  .main-top .title {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px; }
  .main-top .btn {
    min-width: 40%;
    margin-top: 20px; }
    .main-top .btn ~ .btn {
      margin-left: 10%; }

.choose-house {
  margin: 50px 0;
  text-align: center; }
  .choose-house .text {
    color: #a1a1a1;
    padding: 30px 0 60px 0; }
  .choose-house .btn {
    margin: 40px 0;
    min-width: 150px; }
  .choose-house .houses {
    height: auto;
    opacity: 1;
    transition: 0.3s all; }
  .choose-house .houses-single {
    height: 0;
    overflow: hidden;
    text-align: left;
    opacity: 0;
    transition: 0.3s all; }
    .choose-house .houses-single h3 {
      margin-top: 30px; }
    .choose-house .houses-single .btn {
      float: right; }
    .choose-house .houses-single.open {
      height: auto;
      opacity: 1; }
      .choose-house .houses-single.open ~ .houses {
        height: 0;
        opacity: 0;
        overflow: hidden; }
  .choose-house .main-products .swiper-container {
    width: 100%;
    height: 100%; }
  .choose-house .main-products .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }

@media (max-width: 991px) {
  .main-top {
    background-position: right center;
    padding-top: 30px;
    height: 400px; } }
@media (max-width: 767px) {
  .main-top .title {
    font-size: 18px; }

  h1, .h1 {
    font-size: 18px; }

  .choose-house .text {
    padding-bottom: 0; }

  .choose-house .houses-single h3 {
    margin-top: 0; } }

/*# sourceMappingURL=main-page.css.map */
