.top5 {
  margin-top: 5px; }

.top10 {
  margin-top: 10px; }

.top15 {
  margin-top: 15px; }

.top20 {
  margin-top: 20px; }

.top25 {
  margin-top: 25px; }

.top30 {
  margin-top: 30px; }

.top35 {
  margin-top: 35px; }

.top40 {
  margin-top: 40px; }

.top45 {
  margin-top: 45px; }

.top50 {
  margin-top: 50px; }

.top55 {
  margin-top: 55px; }

.top60 {
  margin-top: 60px; }

.bottom5 {
  margin-bottom: 5px; }

.bottom10 {
  margin-bottom: 10px; }

.bottom15 {
  margin-bottom: 15px; }

.bottom20 {
  margin-bottom: 20px; }

.bottom25 {
  margin-bottom: 25px; }

.bottom30 {
  margin-bottom: 30px; }

.bottom35 {
  margin-bottom: 35px; }

.bottom40 {
  margin-bottom: 40px; }

.bottom45 {
  margin-bottom: 45px; }

.bottom50 {
  margin-bottom: 50px; }

.bottom55 {
  margin-bottom: 55px; }

.bottom60 {
  margin-bottom: 60px; }

.line5 {
  line-height: 5px; }

.line10 {
  line-height: 10px; }

.line15 {
  line-height: 15px; }

.line20 {
  line-height: 20px; }

.line25 {
  line-height: 25px; }

.line30 {
  line-height: 30px; }

.line35 {
  line-height: 35px; }

.line40 {
  line-height: 40px; }

.line45 {
  line-height: 45px; }

.line50 {
  line-height: 50px; }

.line55 {
  line-height: 55px; }

.line60 {
  line-height: 60px; }

.size10 {
  font-size: 10px; }

.size11 {
  font-size: 11px; }

.size12 {
  font-size: 12px; }

.size13 {
  font-size: 13px; }

.size14 {
  font-size: 14px; }

.size15 {
  font-size: 15px; }

.size16 {
  font-size: 16px; }

.size17 {
  font-size: 17px; }

.size18 {
  font-size: 18px; }

.size19 {
  font-size: 19px; }

.size20 {
  font-size: 20px; }

.size21 {
  font-size: 21px; }

.size22 {
  font-size: 22px; }

.size23 {
  font-size: 23px; }

.size24 {
  font-size: 24px; }

.size25 {
  font-size: 25px; }

.size26 {
  font-size: 26px; }

.size27 {
  font-size: 27px; }

.size28 {
  font-size: 28px; }

.size29 {
  font-size: 29px; }

.size30 {
  font-size: 30px; }

.size31 {
  font-size: 31px; }

.relative {
  position: relative; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?bbblan");
  src: url("../fonts/icomoon.eot?bbblan#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?bbblan") format("truetype"), url("../fonts/icomoon.woff?bbblan") format("woff"), url("../fonts/icomoon.svg?bbblan#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cart-full:before {
  content: "\e93b"; }

.icon-bottle-in:before {
  content: "\e937"; }

.icon-left-arrow:before {
  content: "\e938"; }

.icon-bottle-inline:before {
  content: "\e900"; }

.icon-bittle-full:before {
  content: "\e901"; }

.icon-arrow-right:before {
  content: "\e902"; }

.icon-bill:before {
  content: "\e903"; }

.icon-cancel:before {
  content: "\e904"; }

.icon-career:before {
  content: "\e905"; }

.icon-change-inline:before {
  content: "\e906"; }

.icon-change-full:before {
  content: "\e907"; }

.icon-money:before {
  content: "\e908"; }

.icon-comments:before {
  content: "\e909"; }

.icon-conversation:before {
  content: "\e90a"; }

.icon-check2:before {
  content: "\e90b"; }

.icon-map:before {
  content: "\e90c"; }

.icon-ecology:before {
  content: "\e90d"; }

.icon-email:before {
  content: "\e90e"; }

.icon-emails:before {
  content: "\e90f"; }

.icon-eye:before {
  content: "\e911"; }

.icon-facebook:before {
  content: "\e912"; }

.icon-google:before {
  content: "\e913"; }

.icon-hands-shaking:before {
  content: "\e914"; }

.icon-handshake-inline:before {
  content: "\e915"; }

.icon-help:before {
  content: "\e916"; }

.icon-home:before {
  content: "\e917"; }

.icon-human-head-with-a-question-mark-inside:before {
  content: "\e918"; }

.icon-calendar:before {
  content: "\e919"; }

.icon-invoice:before {
  content: "\e91a"; }

.icon-heart:before {
  content: "\e91b"; }

.icon-like-inline:before {
  content: "\e91c"; }

.icon-like:before {
  content: "\e91d"; }

.icon-user:before {
  content: "\e91e"; }

.icon-medal:before {
  content: "\e91f"; }

.icon-message:before {
  content: "\e920"; }

.icon-music-player-play:before {
  content: "\e921"; }

.icon-calendar-inline:before {
  content: "\e922"; }

.icon-cart-inline:before {
  content: "\e923"; }

.icon-package-inline:before {
  content: "\e924"; }

.icon-contact:before {
  content: "\e925"; }

.icon-question:before {
  content: "\e926"; }

.icon-raindrop:before {
  content: "\e927"; }

.icon-settings:before {
  content: "\e928"; }

.icon-right-chevron:before {
  content: "\e929"; }

.icon-search:before {
  content: "\e92a"; }

.icon-setting-tools:before {
  content: "\e92b"; }

.icon-star:before {
  content: "\e92d"; }

.icon-statistics:before {
  content: "\e92e"; }

.icon-strategic:before {
  content: "\e92f"; }

.icon-test-full:before {
  content: "\e930"; }

.icon-test-tube:before {
  content: "\e931"; }

.icon-test-inline:before {
  content: "\e932"; }

.icon-like-full:before {
  content: "\e933"; }

.icon-login:before {
  content: "\e934"; }

.icon-visibility:before {
  content: "\e935"; }

.icon-world-location:before {
  content: "\e936"; }

.icon-check:before {
  content: "\e92c"; }

.icon-logo:before {
  content: "\e910"; }

.icon-minus:before {
  content: "\e939"; }

.icon-plus:before {
  content: "\e93a"; }

.main-top {
  height: 460px;
  background: url(../img/slider.png);
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 90px;
  position: relative;
  padding-bottom: 120px; }
  .main-top:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url("../img/wave.png");
    height: 100px;
    z-index: 2; }
  .main-top .title {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px; }
  .main-top .btn {
    min-width: 40%;
    margin-top: 20px; }
    .main-top .btn ~ .btn {
      margin-left: 10%; }

.choose-house {
  padding: 50px 0;
  background: #fff;
  text-align: center; }
  .choose-house .text {
    color: #a1a1a1;
    padding: 30px 0 60px 0; }
  .choose-house .btn {
    margin: 40px 0;
    min-width: 150px; }
  .choose-house .houses {
    height: auto;
    opacity: 1;
    transition: 0.3s all; }
  .choose-house .houses-single {
    height: 0;
    overflow: hidden;
    text-align: left;
    opacity: 0;
    transition: 0.3s all; }
    .choose-house .houses-single h3 {
      margin-top: 30px; }
    .choose-house .houses-single .btn {
      float: right; }
    .choose-house .houses-single.open {
      height: auto;
      opacity: 1; }
      .choose-house .houses-single.open ~ .houses {
        height: 0;
        opacity: 0;
        overflow: hidden; }

.main-products {
  background: url("../img/slider-bg.jpg");
  background-size: cover;
  position: relative;
  padding-bottom: 120px; }
  .main-products:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url("../img/wave.png");
    height: 100px;
    z-index: 2; }
  .main-products .swiper-container {
    width: 100%;
    height: 100%; }
  .main-products .swiper-slide {
    background: #fff;
    padding: 25px;
    font-size: 13px; }
    .main-products .swiper-slide .img {
      height: 210px;
      overflow: hidden;
      margin-bottom: 10px;
      display: block;
      text-align: center; }
      .main-products .swiper-slide .img img {
        max-width: 100%;
        max-height: 100%; }
    .main-products .swiper-slide .title {
      font-size: 16px;
      color: #333;
      font-weight: bold;
      line-height: 24px;
      height: 48px;
      display: table-cell;
      vertical-align: middle;
      width: 100%; }
      .main-products .swiper-slide .title small {
        font-weight: normal; }
    .main-products .swiper-slide .description {
      margin-top: 10px;
      font-size: 12px;
      line-height: 20px;
      height: 100px;
      overflow: hidden;
      color: #a1a1a1; }
    .main-products .swiper-slide .btn {
      width: calc(100% - 20px);
      margin: 20px 0 10px 0; }
  .main-products .swiper-button-prev, .main-products .swiper-button-next {
    background: #00afe0;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    padding: 10px 0; }
  .main-products .swiper-button-disabled {
    opacity: 0; }
  .main-products .swiper-button-next {
    right: -5px; }
  .main-products .swiper-button-prev {
    left: -5px; }
    .main-products .swiper-button-prev i {
      transform: rotate(180deg);
      display: inline-block; }

.main-benefits {
  padding: 50px 0;
  background: #fff; }
  .main-benefits .item {
    display: table;
    width: 100%;
    margin-top: 30px; }
    .main-benefits .item .icon {
      display: table-cell;
      vertical-align: top; }
      .main-benefits .item .icon i {
        background: #00afe0;
        color: #fff;
        width: 76px;
        height: 76px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        border-radius: 50%;
        border: 10px solid #f8fcff;
        font-size: 30px; }
    .main-benefits .item .content {
      display: table-cell;
      vertical-align: top;
      padding: 10px; }
      .main-benefits .item .content .title {
        font-size: 16px;
        font-weight: bold;
        color: #0080b7;
        margin-bottom: 10px; }
      .main-benefits .item .content .text {
        font-size: 13px;
        line-height: 20px;
        height: 60px;
        overflow: hidden; }

.main-testimonials {
  padding: 150px 0 50px 0;
  position: relative;
  padding-bottom: 120px; }
  .main-testimonials img {
    max-width: 100%; }
  .main-testimonials:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url("../img/wave.png");
    height: 100px;
    z-index: 2; }
  .main-testimonials:before {
    bottom: inherit;
    top: 0;
    transform: rotate(180deg); }
  .main-testimonials .swiper-container {
    width: 100%;
    height: 100%; }
  .main-testimonials .swiper-slide {
    text-align: center;
    margin-top: 20px;
    padding: 0 80px;
    padding-bottom: 60px; }
  .main-testimonials .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border: 3px solid #fbfbfb;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
    transition: 0.3s all; }
  .main-testimonials .swiper-pagination-bullet-active {
    opacity: 1;
    border-color: #00afe0;
    background: #00afe0; }

@media (max-width: 991px) {
  .main-top {
    background-position: right center;
    padding-top: 30px;
    height: 400px; }

  .main-testimonials .swiper-slide {
    padding: 0;
    padding-bottom: 60px; } }
@media (max-width: 767px) {
  .main-top .title {
    font-size: 18px; }

  .choose-house .text {
    padding-bottom: 0; }

  .choose-house .houses-single h3 {
    margin-top: 0; }

  .main-products .swiper-slide .img {
    height: 160px; }

  .main-benefits .item {
    margin-top: 10px;
    display: block; }
    .main-benefits .item .content .text {
      height: auto; } }
body, html {
  height: 100%; }

main {
  min-height: 100%;
  height: auto; }

main {
  padding-bottom: 352px; }

footer {
  margin-top: -352px; }

body {
  font-family: "Open Sans";
  font-size: 13px;
  background: #fbfbfb;
  color: #333;
  padding-right: 0px !important;
  margin-right: 0px !important; }
  body.modal-open {
    padding-right: 15px !important; }

h1, .h1 {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase; }

h2, .h2 {
  font-weight: bold;
  font-size: 20px; }

h3, .h3 {
  font-weight: bold;
  font-size: 16px; }

.text-gray {
  color: #a1a1a1 !important; }

a:focus, a:active {
  outline: none; }

textarea {
  resize: none; }

.padding-xs {
  padding: 15px; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

.heading {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px; }

.alert {
  padding: 10px;
  border: 0;
  border-radius: 0;
  padding-left: 40px;
  position: relative; }
  .alert.alert-danger {
    background: transparent;
    color: #ff5200; }
    .alert.alert-danger a {
      color: #ff5200;
      font-weight: bold;
      text-decoration: underline; }
    .alert.alert-danger:before {
      content: "!";
      color: #fff;
      position: absolute;
      top: 4px;
      left: 0;
      font-weight: bold;
      font-size: 19px;
      background: #ff5200;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      padding: 2px 0px; }

.breadcrumb {
  background: transparent;
  padding: 0; }
  .breadcrumb a {
    color: #333; }

.form-group.success {
  position: relative; }
  .form-group.success:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e90b";
    color: #00d800;
    position: absolute;
    right: 12px;
    top: 23px;
    font-size: 14px; }
  .form-group.success .form-control {
    border: 1px solid #00d800;
    padding-right: 40px; }
  .form-group.success .ui-selectmenu-button.ui-button {
    border: 1px solid #00d800; }
.form-group.error .form-control {
  border: 1px solid red; }
.form-group.error .ui-selectmenu-button.ui-button {
  border: 1px solid red; }
.form-group.group-label-up {
  position: relative;
  padding-top: 10px; }
  .form-group.group-label-up label {
    position: absolute;
    top: 0px;
    opacity: 0;
    background: #fff;
    color: #a1a1a1;
    left: 7px;
    font-weight: normal;
    padding: 0 6px;
    transition: 0.3s all; }
  .form-group.group-label-up input:focus ~ label, .form-group.group-label-up input.active ~ label, .form-group.group-label-up select:focus ~ label, .form-group.group-label-up select.active ~ label, .form-group.group-label-up textarea:focus ~ label, .form-group.group-label-up textarea.active ~ label {
    opacity: 1; }

.form-control {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #e8e8e8;
  -webkit-appearance: none;
  height: 40px; }
  .form-control:focus {
    box-shadow: none; }

button, .btn {
  outline: none !important;
  text-transform: uppercase;
  font-weight: bold;
  color: #8e8e8e;
  background: #dcdcdc;
  font-size: 13px; }
  button.active, button:active, button:focus, .btn.active, .btn:active, .btn:focus {
    box-shadow: none;
    outline: none !important; }
  button.btn-blue, .btn.btn-blue {
    background: #00afe0;
    color: #fff; }
  button.active.focus, button.active:focus, button.focus, button:active.focus, button:active:focus, button:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none; }
  button.btn-icon, .btn.btn-icon {
    background: transparent;
    font-size: 24px;
    padding: 2px 15px; }
  button.btn-round, .btn.btn-round {
    border-radius: 30px;
    color: #8e8e8e;
    background: #dcdcdc;
    text-transform: uppercase;
    padding: 11px 20px;
    text-align: center;
    font-weight: bold;
    transition: 0.3s all; }
    button.btn-round.btn-orange, .btn.btn-round.btn-orange {
      background: #ff8600;
      color: #fff;
      box-shadow: 0 0 0 7px rgba(255, 134, 0, 0.12); }
      button.btn-round.btn-orange:hover, .btn.btn-round.btn-orange:hover {
        background: #ed7d00;
        box-shadow: 0 0 0 12px rgba(255, 134, 0, 0.05); }
      button.btn-round.btn-orange:active, .btn.btn-round.btn-orange:active {
        background: #ed7d00;
        box-shadow: 0 0 0 0px rgba(255, 134, 0, 0.12); }
    button.btn-round.btn-dark-blue, .btn.btn-round.btn-dark-blue {
      background: #0080b7;
      box-shadow: 0 0 0 7px rgba(0, 128, 183, 0.12);
      color: #fff; }
      button.btn-round.btn-dark-blue:hover, .btn.btn-round.btn-dark-blue:hover {
        background: #0080b7;
        box-shadow: 0 0 0 12px rgba(0, 128, 183, 0.05); }
      button.btn-round.btn-dark-blue:active, .btn.btn-round.btn-dark-blue:active {
        background: #0080b7;
        box-shadow: 0 0 0 0px rgba(0, 128, 183, 0.12); }
    button.btn-round.btn-blue, .btn.btn-round.btn-blue {
      background: #00afe0;
      color: #fff;
      box-shadow: 0 0 0 7px rgba(0, 175, 224, 0.12); }
      button.btn-round.btn-blue:hover, .btn.btn-round.btn-blue:hover {
        background: #0080b7;
        box-shadow: 0 0 0 12px rgba(0, 175, 224, 0.05); }
      button.btn-round.btn-blue:active, .btn.btn-round.btn-blue:active {
        background: #0080b7;
        box-shadow: 0 0 0 0px rgba(0, 175, 224, 0.12); }
  button.btn-left-icon, .btn.btn-left-icon {
    position: relative;
    padding-left: 50px; }
    button.btn-left-icon i, .btn.btn-left-icon i {
      position: absolute;
      left: 17px;
      font-size: 16px;
      top: 50%;
      transform: translateY(-50%); }

header {
  border-bottom: 1px solid #e4f2f8;
  background: #fff; }
  header .top-menu {
    background: #fbfbfb;
    height: 30px;
    padding: 7px 0;
    color: #7f7f7f;
    font-size: 12px; }
    header .top-menu .nav > li > a {
      padding: 0px 9px; }
      header .top-menu .nav > li > a i {
        padding-right: 5px; }
    header .top-menu span ~ span {
      margin-left: 30px; }
      header .top-menu span ~ span a {
        color: #7f7f7f; }
  header .menu {
    padding: 15px 0; }
    header .menu .container {
      position: relative; }
    header .menu [class^="col-"], header .menu [class*=" col-"] {
      position: static; }
    header .menu .nav-pills {
      display: table;
      margin: 0 auto;
      width: 100%; }
      header .menu .nav-pills > li {
        display: table-cell;
        float: none; }
        header .menu .nav-pills > li > a {
          font-weight: bold;
          color: #464646;
          font-size: 13px; }
          header .menu .nav-pills > li > a:hover {
            background: transparent;
            color: #0080b7; }
        header .menu .nav-pills > li:hover .dropdown-menu {
          display: block;
          background: #00afe0;
          color: #fff;
          border: 0;
          border-radius: 0;
          box-shadow: none;
          min-width: 220px;
          padding: 10px 0;
          margin: 0;
          font-size: 13px; }
          header .menu .nav-pills > li:hover .dropdown-menu:before {
            content: "";
            position: absolute;
            left: 20px;
            top: -16px;
            border: 10px solid transparent;
            border-bottom: 7px solid #00afe0; }
          header .menu .nav-pills > li:hover .dropdown-menu .nav > li > a {
            color: #fff;
            padding: 10px 15px; }
            header .menu .nav-pills > li:hover .dropdown-menu .nav > li > a:hover {
              background: #0080b7; }
    header .menu .logo {
      display: block;
      margin-top: 5px; }
    header .menu .search-form {
      background: #fff;
      position: absolute;
      top: 0;
      width: 0;
      left: 100%;
      transition: 0.3s all;
      overflow: hidden;
      opacity: 0; }
      header .menu .search-form .form-control {
        border: 0;
        border-bottom: 1px solid #e8e8e8; }
    header .menu .btn-icon {
      float: left;
      transition: 0.3s all;
      left: calc(100% - 50px); }
    header .menu .basket {
      display: inline-block;
      font-size: 24px;
      color: #333;
      padding: 3px 15px;
      float: left;
      position: relative;
      text-decoration: none; }
      header .menu .basket .count {
        position: absolute;
        top: 2px;
        right: 5px;
        border-radius: 50%;
        background: #00afe0;
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        padding: 1px 5px; }

.modal-dialog {
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15); }

.modal-content {
  box-shadow: none;
  border-radius: 0;
  border: 0;
  padding: 0px 20px 20px 20px; }
  .modal-content .btn {
    min-width: 150px; }

.modal-header {
  text-align: center;
  border: 0; }
  .modal-header .title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0 10px 0; }
  .modal-header .close {
    top: 20px;
    position: absolute;
    right: 30px;
    font-size: 16px; }

.modal-footer {
  background: #fbfbfb;
  text-align: center;
  color: #a1a1a1;
  border: 0; }
  .modal-footer a {
    color: #333;
    text-decoration: underline; }

.modal-backdrop {
  background: #fff; }
  .modal-backdrop.in {
    opacity: 0.8; }

.socials {
  display: inline-block;
  list-style: none;
  font-size: 39px;
  color: #ddd;
  padding: 0;
  margin: 0;
  float: left; }
  .socials li {
    float: left;
    margin-right: 15px; }
    .socials li a {
      color: #ddd;
      transition: 0.3s all;
      text-decoration: none; }
      .socials li a:hover {
        color: #00afe0; }

.logotypes {
  border-top: 1px solid #e8e8e8;
  padding: 20px 0;
  margin-top: 30px; }
  .logotypes a {
    text-decoration: none; }
  .logotypes img {
    max-height: 60px;
    max-width: 120px; }
  .logotypes a ~ a {
    padding-left: 50px; }

footer {
  background: #2d2d2d;
  color: #828282; }
  footer h3 {
    color: #c5c5c5; }
  footer .nav > li > a {
    padding: 5px 0; }
    footer .nav > li > a:hover {
      background: transparent;
      color: #c5c5c5; }
  footer .middle {
    padding: 30px 0; }
  footer a {
    color: #828282; }
  footer .copyrights {
    background: #2a2a2a;
    color: #535353;
    font-size: 12px;
    padding: 10px 0px; }
    footer .copyrights a {
      color: #535353; }

.modal-cart .item {
  display: table;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px;
  position: relative; }
  .modal-cart .item > .btn {
    position: absolute;
    top: 10px;
    right: 0px;
    min-width: inherit;
    font-size: 14px; }
  .modal-cart .item .img {
    vertical-align: middle;
    width: 122px;
    height: 122px;
    overflow: hidden;
    display: table-cell;
    text-align: center; }
    .modal-cart .item .img img {
      max-height: 100%;
      max-width: 100%; }
  .modal-cart .item .content {
    display: table-cell;
    vertical-align: middle; }
    .modal-cart .item .content .title {
      color: #333;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 10px;
      display: inline-block;
      width: 100%; }
    .modal-cart .item .content .description {
      color: #a1a1a1;
      display: inline-block;
      width: 100%;
      margin-bottom: 10px; }
  .modal-cart .item .prices {
    font-size: 16px;
    text-align: right; }
    .modal-cart .item .prices .quantity {
      margin: 10px 20px; }
.modal-cart .cost {
  padding: 20px 0;
  text-align: right; }
  .modal-cart .cost span {
    text-transform: uppercase; }
  .modal-cart .cost strong {
    padding-left: 10px;
    font-size: 24px; }
.modal-cart .btns {
  text-align: right; }
  .modal-cart .btns .btn {
    margin-left: 30px; }

.quantity {
  width: 130px;
  position: relative;
  display: inline-block; }
  .quantity input {
    padding: 8px 50px;
    text-align: center; }
  .quantity .btn {
    min-width: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    padding: 10px 13px;
    color: #a1a1a1; }
    .quantity .btn:first-of-type {
      left: 0; }
    .quantity .btn:last-of-type {
      right: 0; }

.products .item {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: table;
  width: 100%;
  margin-bottom: 30px;
  height: auto;
  overflow: hidden; }
  .products .item .img, .products .item .content {
    display: table-cell;
    vertical-align: middle; }
  .products .item .content {
    vertical-align: top; }
  .products .item .img {
    width: 200px;
    text-align: center; }
  .products .item img {
    max-width: 100%;
    max-height: 100%; }
  .products .item .content {
    padding: 30px 20px; }
  .products .item .title {
    color: #333;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%; }
    .products .item .title small {
      font-weight: normal; }
  .products .item ul {
    margin: 0;
    padding: 0;
    color: #a1a1a1;
    list-style-type: none;
    margin-bottom: 30px; }
    .products .item ul li {
      position: relative;
      padding: 5px 5px 5px 30px; }
      .products .item ul li:before {
        content: "";
        position: absolute;
        top: 12px;
        left: 5px;
        width: 6px;
        height: 6px;
        background: #00afe0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
  .products .item .btn {
    margin-top: 20px; }

.accessories h2 {
  margin: 30px 0; }
.accessories .item {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: table;
  width: 100%;
  margin-bottom: 30px;
  height: auto;
  overflow: hidden;
  padding: 25px 15px; }
  .accessories .item .title {
    color: #333;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    display: block; }
  .accessories .item .img {
    margin-bottom: 10px;
    display: block;
    height: 200px;
    text-align: center; }
  .accessories .item img {
    max-width: 100%;
    max-height: 100%; }
  .accessories .item .description {
    color: #a1a1a1;
    font-size: 12px;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    margin-bottom: 20px; }
  .accessories .item .btns strong {
    line-height: 40px; }

.product-head {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-top: -20px; }
  .product-head .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto; }
  .product-head .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .product-head .swiper-slide img {
      max-width: 100%;
      max-height: 100%; }
  .product-head .gallery-top {
    height: 365px;
    padding: 10px;
    width: calc(100% - 90px);
    margin-left: 10px;
    border: 1px solid #e8e8e8; }
  .product-head .gallery-thumbs {
    height: 365px;
    width: 80px;
    float: left; }
    .product-head .gallery-thumbs .swiper-wrapper {
      margin-top: -140px; }
  .product-head .gallery-thumbs .swiper-slide {
    width: 70px;
    height: 70px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    opacity: 0.4; }
  .product-head .gallery-thumbs .swiper-slide-active {
    opacity: 1;
    border-color: #00afe0; }
  .product-head ul {
    margin: 0;
    padding: 0;
    color: #a1a1a1;
    list-style-type: none;
    margin-bottom: 30px; }
    .product-head ul li {
      position: relative;
      padding: 5px 5px 5px 30px; }
      .product-head ul li:before {
        content: "";
        position: absolute;
        top: 12px;
        left: 5px;
        width: 6px;
        height: 6px;
        background: #00afe0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
  .product-head ul {
    margin: 30px 0; }
  .product-head .price-blocks {
    background: #fbfbfb;
    border-radius: 5px; }
    .product-head .price-blocks .item {
      padding: 20px; }
      .product-head .price-blocks .item .btn {
        margin-top: 15px; }
      .product-head .price-blocks .item ~ .item {
        border-top: 3px solid #fff; }
  .product-head .tabs {
    text-transform: uppercase; }
    .product-head .tabs ul {
      margin: 0;
      border-bottom: 0; }
      .product-head .tabs ul > li {
        padding: 0px;
        width: 25%; }
        .product-head .tabs ul > li:before {
          content: none; }
        .product-head .tabs ul > li.active > a {
          border: 0;
          color: #00afe0;
          border-bottom: 4px solid #00afe0;
          font-weight: bold; }
          .product-head .tabs ul > li.active > a:hover {
            border: 0;
            border-bottom: 4px solid #00afe0;
            background: transparent; }
        .product-head .tabs ul > li > a {
          text-align: center;
          display: block;
          font-size: 18px;
          padding: 15px 30px;
          border-radius: 0;
          color: #333;
          border: 0;
          border-bottom: 4px solid transparent; }
          .product-head .tabs ul > li > a:hover {
            border: 0;
            border-bottom: 4px solid transparent;
            background: transparent; }

.product-body .tab-content {
  padding: 30px 0; }

.benefits .item {
  margin-bottom: 35px;
  position: relative; }
  .benefits .item h2 {
    font-size: 18px;
    margin: 20px 0;
    text-transform: uppercase; }
  .benefits .item .content {
    width: 100%;
    color: #7a7a7a;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding-left: calc(50% + 50px); }
    .benefits .item .content p {
      margin-bottom: 20px; }
  .benefits .item .img {
    position: absolute;
    top: -15px;
    left: 0;
    width: calc(50% - 10px);
    height: calc(100% + 30px);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 10px; }
    .benefits .item .img h3 {
      font-size: 14px;
      text-transform: uppercase; }
    .benefits .item .img.contain {
      background-size: contain;
      box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1); }
  .benefits .item:nth-of-type(2n) .content {
    padding: 50px;
    padding-right: calc(50% + 50px); }
  .benefits .item:nth-of-type(2n) .img {
    left: inherit;
    right: 0; }
  .benefits .item .specification {
    display: table;
    width: 100%; }
    .benefits .item .specification .table-cell {
      display: table-cell;
      vertical-align: bottom;
      padding-right: 30px; }
  .benefits .item .downloads {
    display: inline-block;
    width: 100%; }
    .benefits .item .downloads .warranty {
      float: left;
      margin-bottom: 20px; }
    .benefits .item .downloads .icon {
      width: 60px;
      float: left;
      margin: 25px 20px 25px 40px; }
    .benefits .item .downloads .links {
      float: left;
      line-height: 23px;
      margin-top: 30px; }
      .benefits .item .downloads .links a {
        font-size: 13px;
        font-weight: bold;
        display: block;
        text-decoration: underline;
        color: #00afe0; }

.checkbox input {
  display: none; }
  .checkbox input + label {
    margin-bottom: 10px;
    padding-left: 40px;
    color: #a1a1a1;
    transition: 0.3s all; }
    .checkbox input + label .title {
      line-height: 20px; }
    .checkbox input + label:before {
      content: "";
      position: absolute;
      left: 5px;
      top: 1px;
      display: block;
      border: 1px solid #e8e8e8;
      width: 20px;
      height: 20px;
      transition: 0.3s all; }
    .checkbox input + label:after {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e90b";
      color: #fff;
      position: absolute;
      left: 9px;
      top: 5px;
      font-size: 13px;
      transition: 0.3s all;
      transform: scale(0); }
    .checkbox input + label .description {
      font-size: 12px;
      line-height: 18px;
      display: table;
      width: 100%;
      margin-top: 5px;
      font-weight: normal; }
      .checkbox input + label .description .text, .checkbox input + label .description .price {
        display: table-cell;
        vertical-align: middle; }
      .checkbox input + label .description .price {
        font-weight: bold;
        font-size: 14px;
        width: 60px;
        color: #333;
        text-align: right; }
  .checkbox input:checked + label .title {
    color: #333; }
  .checkbox input:checked + label:before {
    border-color: #ff8600;
    background: #ff8600;
    box-shadow: 0 0 0 3px rgba(255, 134, 0, 0.12); }
  .checkbox input:checked + label:after {
    transform: scale(1); }

.sell {
  margin-bottom: 30px; }
  .sell .item {
    height: 330px;
    overflow: hidden;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 30px 15px;
    text-align: center;
    position: relative; }
    .sell .item .img {
      display: block;
      height: 230px; }
    .sell .item img {
      max-width: 100%;
      max-height: 100%; }
    .sell .item .title {
      color: #333;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 10px;
      display: inline-block;
      width: 100%;
      margin-top: 10px;
      height: 44px;
      font-size: 14px;
      overflow: hidden;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
    .sell .item .description {
      color: #a1a1a1;
      margin: 20px 0; }
    .sell .item .price {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px; }
    .sell .item h2 {
      text-transform: uppercase;
      font-size: 14px; }
  .sell [class^="col-"], .sell [class*=" col-"] {
    position: relative; }
    .sell [class^="col-"] ~ div:before, .sell [class*=" col-"] ~ div:before {
      content: "";
      background-color: #eefdff;
      border-radius: 50%;
      width: 88px;
      height: 88px;
      position: absolute;
      background-image: url(../img/plus.svg);
      background-size: 42px;
      background-position: center center;
      top: 50%;
      background-repeat: no-repeat;
      left: 0;
      z-index: 2;
      transform: translateX(-50%) translateY(-50%); }
    .sell [class^="col-"]:last-of-type:before, .sell [class*=" col-"]:last-of-type:before {
      background-image: url(../img/minus.svg); }

.round-radio .title {
  font-size: 13px; }
.round-radio input {
  display: none; }
  .round-radio input + label {
    border-radius: 50%;
    background: #e8e8e8;
    width: 34px;
    height: 34px;
    color: #a2a2a2;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 8px 0;
    margin: 15px 7px;
    cursor: pointer;
    transition: 0.3s all; }
    .round-radio input + label:hover {
      background: #dedede; }
  .round-radio input:checked + label {
    background: #ff8600;
    color: #fff;
    box-shadow: 0 0 0 5px rgba(255, 134, 0, 0.12); }
    .round-radio input:checked + label:hover {
      background: #ed7d00;
      box-shadow: 0 0 0 7px rgba(255, 134, 0, 0.05); }
    .round-radio input:checked + label:active {
      background: #ed7d00;
      box-shadow: 0 0 0 0px rgba(255, 134, 0, 0.12); }

.cart .item {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  width: 100%; }
  .cart .item > .btn-icon {
    position: absolute;
    top: 12px;
    right: 5px;
    font-size: 14px; }
  .cart .item .img {
    width: 112px;
    height: 112px;
    float: left; }
    .cart .item .img img {
      max-height: 100%;
      max-width: 100%; }
  .cart .item .title {
    color: #333;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%; }
  .cart .item .content {
    float: left;
    width: 250px; }
    .cart .item .content .description {
      line-height: 20px;
      height: 60px;
      overflow: hidden;
      color: #a1a1a1; }
  .cart .item .count {
    float: left;
    margin-left: 20px; }
    .cart .item .count strong {
      font-size: 16px; }
    .cart .item .count .quantity {
      margin: 35px 30px; }
.cart .total {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 30px 30px; }
  .cart .total h3 {
    font-size: 15px;
    margin-top: 0;
    margin-left: 5px; }
  .cart .total .btn {
    margin-top: 20px; }
  .cart .total .price {
    margin: 0 5px;
    border-top: 1px solid #e8e8e8;
    padding: 10px 0; }
    .cart .total .price small {
      color: #a1a1a1; }
    .cart .total .price span {
      padding-left: 10px;
      font-weight: bold;
      font-size: 24px; }

.order {
  margin-bottom: 30px; }
  .order .main {
    margin-bottom: 20px; }
  .order h2 {
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 0; }
  .order .card {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 30px; }
  .order .cards {
    display: inline-block;
    width: 100%; }
    .order .cards img {
      width: 40px;
      margin: 10px 20px 20px 0; }
  .order .shipping-checkbox {
    float: right; }
  .order .total h2 {
    margin-top: 20px; }
  .order .total .price {
    text-align: center; }
    .order .total .price small {
      text-transform: uppercase;
      font-size: 12px;
      color: #a1a1a1;
      display: block; }
    .order .total .price span {
      font-size: 24px;
      font-weight: bold; }

.ui-selectmenu-button.ui-button {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #e8e8e8;
  -webkit-appearance: none;
  height: 40px;
  line-height: 28px;
  background: #fff;
  outline: none;
  padding-right: 40px;
  position: relative;
  width: 100%;
  font-family: 'Open Sans';
  font-size: 14px; }
  .ui-selectmenu-button.ui-button .ui-selectmenu-icon.ui-icon {
    position: absolute;
    border-radius: 50%;
    background: #e8e8e8;
    width: 26px;
    height: 26px;
    top: 6px;
    right: 7px; }
    .ui-selectmenu-button.ui-button .ui-selectmenu-icon.ui-icon:before {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e902";
      position: absolute;
      top: 10px;
      left: 8px;
      transform: rotate(90deg);
      font-size: 9px;
      color: #333;
      text-indent: initial;
      opacity: 0.5;
      text-align: center;
      padding: 0;
      margin: 0; }

.ui-widget.ui-widget-content {
  border: 1px solid #e8e8e8; }
  .ui-widget.ui-widget-content .ui-menu-item-wrapper {
    padding: 8px 15px; }
  .ui-widget.ui-widget-content .ui-state-active {
    background: #00afe0;
    border-color: #00afe0; }

.padding-sm {
  padding: 30px; }

aside .nav > li > a {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #fff;
  color: #0080b7;
  padding: 16px 15px; }
  aside .nav > li > a i {
    font-size: 17px;
    padding-right: 10px;
    float: left; }
  aside .nav > li > a:hover, aside .nav > li > a:focus {
    background: #fff; }
aside .nav > li.active > a {
  background: #00afe0;
  color: #fff; }

.check-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px; }
  .check-list li {
    padding-left: 60px;
    position: relative;
    margin-top: 15px; }
    .check-list li:before {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e92c";
      color: #00afe0;
      position: absolute;
      top: 0px;
      left: 17px;
      font-size: 18px; }

.card {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #fff;
  color: #505050; }
  .card img {
    max-width: 100%; }
  .card p {
    margin-bottom: 25px; }

.page-404 {
  text-align: center;
  color: #a1a1a1; }
  .page-404 img {
    max-width: 100%;
    margin: 100px 0 0 0; }
  .page-404 .btn {
    margin: 30px 0; }

.marked {
  margin: 0;
  padding: 0;
  color: #505050;
  list-style-type: none;
  margin-bottom: 30px; }
  .marked li {
    position: relative;
    padding: 5px 5px 5px 30px; }
    .marked li:before {
      content: "";
      position: absolute;
      top: 12px;
      left: 5px;
      width: 6px;
      height: 6px;
      background: #00afe0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }

.careers-img {
  background: url(/img/careers.png);
  padding: 40px 90px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 417px;
  background-size: cover;
  background-position: center center; }
  .careers-img .title {
    font-size: 18px;
    color: #505050;
    font-weight: bold;
    border-bottom: 1px solid #bdddf0;
    padding-bottom: 20px; }
  .careers-img .big-text {
    font-size: 42px;
    font-weight: bold;
    color: #00afe0; }

.careers-item {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #fff;
  color: #505050;
  margin-top: 30px;
  padding: 20px 60px;
  height: 440px; }
  .careers-item .img {
    background: #eefdff;
    border-radius: 50%;
    width: 164px;
    height: 164px;
    display: table;
    padding: 50px;
    text-align: center;
    margin: 20px auto; }
    .careers-item .img .img {
      max-width: 100%; }
  .careers-item .title {
    font-weight: bold;
    color: #fff;
    background: #00afe0;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    padding: 11px 20px;
    display: table;
    margin: -60px auto 20px auto; }

.careers-email {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #fff;
  color: #a1a1a1;
  margin-top: 30px;
  padding: 0 116px;
  position: relative; }
  .careers-email .img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: #eefdff;
    width: 116px;
    padding: 30px 35px;
    float: left; }
    .careers-email .img img {
      max-width: 100%; }
  .careers-email .btn {
    position: absolute;
    top: 34px;
    right: 40px;
    width: 180px; }
  .careers-email .text {
    text-align: center;
    padding: 30px 20px; }
    .careers-email .text .title {
      color: #333;
      font-weight: bold;
      font-size: 22px; }

.contact-header {
  padding: 5px 20px 25px 100px;
  position: relative; }
  .contact-header p {
    margin-bottom: 0;
    color: #7a7a7a; }
  .contact-header a.phone {
    color: #7a7a7a;
    font-weight: bold;
    font-size: 14px;
    padding-right: 10px; }
  .contact-header:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e925";
    background: #e8e8e8;
    width: 85px;
    height: 100%;
    position: absolute;
    top: 0;
    color: #bababa;
    font-size: 40px;
    left: 0;
    text-align: center;
    padding: 27px 0; }

.contact-item {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #fff;
  padding: 25px;
  margin-bottom: 30px; }
  .contact-item .head {
    font-size: 16px;
    font-weight: bold; }
    .contact-item .head i {
      color: #ddd;
      font-size: 21px;
      float: left;
      margin-right: 15px; }
  .contact-item .item {
    display: table;
    width: 100%;
    margin-top: 20px;
    font-size: 13px; }
    .contact-item .item p {
      margin-bottom: 0;
      line-height: 20px; }
    .contact-item .item .img, .contact-item .item .content {
      display: table-cell;
      color: #a1a1a1; }
    .contact-item .item .img {
      width: 36px; }
      .contact-item .item .img img {
        width: 22px; }

.inline-block {
  display: inline-block; }

.italic {
  font-style: italic; }

.perfomances .item {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #fff;
  display: table;
  position: relative;
  margin-top: 20px;
  padding-right: 20px;
  overflow: hidden;
  width: 100%; }
  .perfomances .item .img, .perfomances .item .content {
    display: table-cell;
    color: #a1a1a1;
    vertical-align: middle;
    position: relative; }
  .perfomances .item .content {
    padding: 15px 15px;
    vertical-align: middle;
    height: 170px; }
  .perfomances .item .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #505050; }
  .perfomances .item .img {
    width: 100px;
    color: #0080b7;
    text-align: center; }
    .perfomances .item .img i {
      font-size: 36px; }
      .perfomances .item .img i:first-of-type {
        position: absolute;
        top: 0%;
        left: 0;
        font-size: 130px;
        opacity: 0.1;
        transform: translateX(-20%) translateY(-25%); }

.customer-table {
  display: table;
  width: 100%; }
  .customer-table .img, .customer-table .content {
    display: table-cell;
    color: #505050;
    vertical-align: top;
    position: relative; }
  .customer-table .img {
    width: 160px; }

.faqs {
  margin-top: 15px;
  font-size: 13px;
  color: #505050; }
  .faqs .question {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background: #fff;
    position: relative;
    padding: 21px 15px 21px 110px;
    font-weight: bold; }
    .faqs .question:before {
      display: block;
      position: absolute;
      background: #00afe0;
      width: 90px;
      height: 90px;
      top: -15px;
      left: 0;
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e918";
      color: #fff;
      font-size: 70px;
      border-radius: 5px;
      padding: 21px 0;
      overflow: hidden; }
  .faqs .answer {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background: #fff;
    margin: 15px 0 15px 100px;
    padding: 15px 15px;
    position: relative;
    color: #505050; }
    .faqs .answer:before {
      content: "";
      display: block;
      position: absolute;
      top: -19px;
      left: 20px;
      border: 10px solid transparent;
      border-bottom: 10px solid #fff; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border: 0; }

.testimonials .item {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #fff;
  margin-top: 20px;
  display: table;
  width: 100%; }
  .testimonials .item .img {
    width: 115px;
    display: table-cell;
    vertical-align: top;
    padding: 20px; }
    .testimonials .item .img img {
      max-width: 100%; }
  .testimonials .item .content {
    padding: 20px 20px 20px 0px;
    display: table-cell;
    vertical-align: middle; }
    .testimonials .item .content .title {
      font-weight: bold; }
    .testimonials .item .content .city {
      color: #a1a1a1; }
    .testimonials .item .content .text {
      margin-top: 10px; }

.ratings {
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style-type: none;
  color: #ddd;
  line-height: 11px; }
  .ratings li {
    float: left; }
    .ratings li i.yellow {
      color: #ffc002; }
    .ratings li ~ li {
      margin-left: 5px; }

.blocks-with-circle {
  margin-bottom: 40px; }
  .blocks-with-circle .item {
    display: table;
    width: 100%;
    padding: 10px 10px; }
    .blocks-with-circle .item .img, .blocks-with-circle .item .content {
      display: table-cell;
      vertical-align: top;
      padding: 10px; }
    .blocks-with-circle .item .img {
      width: 100px; }
      .blocks-with-circle .item .img .circle {
        background: #eefdff;
        width: 70px;
        height: 70px;
        padding: 20px;
        border-radius: 50%; }
    .blocks-with-circle .item .title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px; }

.rental-table .table > tbody > tr > th {
  border-bottom: 5px solid #e8e8e8;
  padding: 10px 20px; }
.rental-table .table > tbody > tr > td {
  border-bottom: 1px solid #e8e8e8;
  padding: 20px; }
  .rental-table .table > tbody > tr > td:first-of-type {
    text-align: center; }
.rental-table a {
  color: #505050;
  text-decoration: underline; }
.rental-table img {
  max-height: 250px; }

.quete {
  padding: 15px;
  font-style: italic;
  color: #9a9a9a;
  border-radius: 5px;
  background: #fbfbfb; }

#circle-spin a {
  position: absolute;
  top: calc(50% - 45px);
  height: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
#circle-spin .role {
  position: absolute;
  top: calc(50% + 65px);
  height: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
#circle-spin .modal-circle:after {
  content: "";
  position: absolute;
  background: #00afe0;
  width: 80px;
  height: 80px;
  top: -40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
  -moz-transform: translate(-50%, 0) rotate(45deg);
  -ms-transform: translate(-50%, 0) rotate(45deg);
  -o-transform: translate(-50%, 0) rotate(45deg);
  transform: translate(-50%, 0) rotate(45deg);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15); }

.modal-circle {
  border-radius: 50%;
  overflow: hidden;
  width: 510px;
  height: 510px;
  color: #aeaeae;
  text-align: center; }
  .modal-circle .win-off {
    font-weight: 800;
    color: #60acda;
    font-size: 50px;
    margin-bottom: 20px;
    position: relative; }
    .modal-circle .win-off:after {
      content: "";
      background: #ff8600;
      position: absolute;
      width: 100px;
      height: 1px;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
  .modal-circle .thanks {
    background: url(../img/crcle.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: 1s all;
    position: absolute;
    padding: 160px 40px;
    font-size: 13px;
    color: #aeaeae; }
    .modal-circle .thanks .btn {
      margin-top: 20px;
      width: 150px; }
  .modal-circle .alert {
    text-align: left;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    display: table;
    margin: -10px auto 0px auto; }
  .modal-circle a {
    color: #777;
    text-decoration: underline;
    font-size: 14px; }
  .modal-circle .role {
    font-size: 11px; }
  .modal-circle .btn-center {
    position: absolute;
    top: 50%;
    width: 130px;
    height: 50px;
    font-size: 16px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .modal-circle .modal-content {
    background: transparent; }
  .modal-circle .discounts {
    position: absolute;
    background: url(../img/circle-spin.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: 1s all; }
    .modal-circle .discounts .item {
      position: absolute;
      color: #c9c9c9;
      font-size: 22px;
      font-weight: 800;
      transition: 0.3s; }
      .modal-circle .discounts .item:nth-of-type(1) {
        top: 75px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0); }
      .modal-circle .discounts .item:nth-of-type(2) {
        top: 160px;
        right: 65px;
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg); }
      .modal-circle .discounts .item:nth-of-type(3) {
        bottom: 160px;
        right: 65px;
        -webkit-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        -o-transform: rotate(120deg);
        transform: rotate(120deg); }
      .modal-circle .discounts .item:nth-of-type(4) {
        bottom: 75px;
        left: 50%;
        -webkit-transform: translate(-50%, 0) rotate(180deg);
        -moz-transform: translate(-50%, 0) rotate(180deg);
        -ms-transform: translate(-50%, 0) rotate(180deg);
        -o-transform: translate(-50%, 0) rotate(180deg);
        transform: translate(-50%, 0) rotate(180deg); }
      .modal-circle .discounts .item:nth-of-type(5) {
        bottom: 160px;
        left: 65px;
        -webkit-transform: rotate(-120deg);
        -moz-transform: rotate(-120deg);
        -ms-transform: rotate(-120deg);
        -o-transform: rotate(-120deg);
        transform: rotate(-120deg); }
      .modal-circle .discounts .item:nth-of-type(6) {
        top: 160px;
        left: 65px;
        -webkit-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
        transform: rotate(-60deg); }
      .modal-circle .discounts .item.active {
        color: #00afe0; }

.modal.fade .modal-circle {
  -webkit-transform: translate(0, -25%) scale(0);
  -moz-transform: translate(0, -25%) scale(0);
  -ms-transform: translate(0, -25%) scale(0);
  -o-transform: translate(0, -25%) scale(0);
  transform: translate(0, -25%) scale(0);
  transition: 1s all; }
  .modal.fade .modal-circle .discounts, .modal.fade .modal-circle form, .modal.fade .modal-circle .thanks {
    -webkit-transform: rotate(360deg) scale(0);
    -moz-transform: rotate(360deg) scale(0);
    -ms-transform: rotate(360deg) scale(0);
    -o-transform: rotate(360deg) scale(0);
    transform: rotate(360deg) scale(0); }

.modal.in .modal-circle {
  -webkit-transform: translate(0, 0) scale(1);
  -moz-transform: translate(0, 0) scale(1);
  -ms-transform: translate(0, 0) scale(1);
  -o-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
  transition: 1s all; }
  .modal.in .modal-circle .discounts, .modal.in .modal-circle form, .modal.in .modal-circle .thanks {
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1); }

#circle-win form {
  background: url(../img/crcle.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: 1s all;
  position: absolute;
  padding: 80px 90px;
  font-size: 13px;
  color: #aeaeae; }
  #circle-win form .form-group {
    margin-bottom: 20px; }
  #circle-win form .win-text {
    font-weight: bold; }
  #circle-win form .form-control {
    background: transparent; }

.bottom-call {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.1);
  z-index: 200;
  padding: 10px 0; }
  .bottom-call .questions .big {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    line-height: 40px; }
  .bottom-call .phone {
    position: absolute;
    background: #ff8600;
    color: #fff;
    text-align: center;
    top: -30px;
    padding: 30px 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border-radius: 50%;
    width: 100%;
    height: 254px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px; }
    .bottom-call .phone .big {
      color: #fff;
      font-size: 40px;
      font-weight: 800;
      line-height: 44px; }
  .bottom-call .timer {
    color: #919191;
    display: inline-block;
    margin-top: 5px;
    float: right; }
    .bottom-call .timer .text {
      float: left;
      margin-top: 5px;
      text-align: right;
      font-size: 14px; }
      .bottom-call .timer .text strong {
        display: block; }
    .bottom-call .timer #clock {
      float: left;
      margin-left: 15px; }
  .bottom-call #clock {
    display: table;
    margin: 0 auto; }
    .bottom-call #clock .item {
      display: inline-block;
      float: left;
      width: 43px;
      text-align: center;
      position: relative; }
      .bottom-call #clock .item div {
        display: inline-block;
        width: 43px;
        height: 43px;
        border: 1px dashed #e8e8e8;
        font-size: 24px;
        color: #333;
        font-weight: 800;
        line-height: 40px; }
      .bottom-call #clock .item ~ .item {
        margin-left: 15px; }
        .bottom-call #clock .item ~ .item:before {
          content: ":";
          position: absolute;
          left: -10px;
          top: 0;
          font-size: 24px;
          color: #333;
          font-weight: 800;
          line-height: 40px; }
      .bottom-call #clock .item span {
        display: inline-block;
        width: 43px;
        color: #c0c0c0;
        font-size: 11px; }

.offer .modal-dialog {
  min-height: 420px;
  background: #fff url(../img/box.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  text-align: center;
  padding: 5px 15px; }
  .offer .modal-dialog .role {
    font-size: 11px;
    color: #aeaeae; }
  .offer .modal-dialog .form-control {
    border-radius: 5px;
    border: 0;
    width: 272px;
    display: table;
    margin: 0px auto 0 auto;
    height: 46px;
    line-height: 46px;
    text-align: center; }
  .offer .modal-dialog .win-text {
    font-weight: bold;
    color: #dedede;
    font-size: 24px;
    padding-bottom: 15px;
    margin-top: 30px;
    margin-bottom: 0px;
    position: relative;
    display: block; }
    .offer .modal-dialog .win-text:after {
      content: "";
      background: #ff8600;
      position: absolute;
      width: 100px;
      height: 1px;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
  .offer .modal-dialog .btn {
    height: 50px;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 5px;
    padding: 0 40px; }
  .offer .modal-dialog .win-off {
    font-weight: 800;
    color: #333;
    font-size: 70px;
    margin-bottom: 40px; }
  .offer .modal-dialog .win-thanks {
    font-weight: 800;
    color: #333;
    font-size: 50px;
    margin-bottom: 80px;
    margin-top: 80px; }
  .offer .modal-dialog .alert {
    text-align: left;
    display: table;
    margin: -40px auto 40px auto; }

.landing section {
  background: url(../img/landing-bg.jpg);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat; }
  .landing section .logo {
    padding: 60px 20px;
    display: block; }
    .landing section .logo img {
      width: 283px;
      height: 44px; }
  .landing section .sidebar {
    background: #fff;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    display: inline-block;
    width: 100%;
    margin-bottom: 50px; }
    .landing section .sidebar .title {
      font-size: 30px;
      font-weight: 800;
      padding: 90px 30px; }
    .landing section .sidebar .phone {
      background: #00afe0;
      color: #fff;
      box-shadow: 0 0px 40px rgba(0, 0, 0, 0.15);
      margin-left: -10px;
      width: calc(100% + 20px);
      font-size: 30px;
      padding: 30px 40px; }
      .landing section .sidebar .phone a {
        font-weight: 800;
        line-height: 30px;
        color: #fff;
        display: block;
        font-size: 40px;
        margin-bottom: 5px;
        text-decoration: none !important; }
    .landing section .sidebar .text {
      font-size: 16px;
      line-height: 30px;
      padding: 25px 30px;
      font-weight: 100; }
      .landing section .sidebar .text .big {
        font-weight: bold;
        font-size: 20px; }
    .landing section .sidebar .discount {
      background: #e9eef4;
      color: #9ca3ab;
      line-height: 40px;
      display: inline-block;
      width: 100%; }
      .landing section .sidebar .discount .info {
        float: left;
        padding: 10px 30px;
        width: 40%; }
      .landing section .sidebar .discount .percent {
        padding: 10px 30px;
        color: #333;
        font-weight: 800;
        font-size: 40px;
        line-height: 40px;
        float: left;
        width: 60%;
        text-align: right;
        position: relative;
        background: url(../img/disc.png);
        background-repeat: no-repeat;
        background-position: -11px -20px; }
    .landing section .sidebar .btn {
      display: table;
      margin: 40px auto;
      width: 220px;
      margin-bottom: 60px; }
  .landing section .products {
    margin-top: 327px; }
    .landing section .products .item .img {
      display: block;
      height: 280px;
      width: 100%;
      padding: 20px;
      text-align: center;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
      .landing section .products .item .img img {
        max-width: 100%;
        max-height: 100%; }
    .landing section .products .item .title {
      color: #4e575f;
      font-size: 16px; }
    .landing section .products .item .gray-block {
      padding: 20px;
      background: #fbfbfb;
      text-align: center; }
      .landing section .products .item .gray-block .btn {
        min-width: 160px;
        margin-bottom: 20px; }

.landing {
  background: #fff;
  padding-bottom: 37px; }

.landing + footer {
  margin-top: -37px; }
  .landing + footer .copyrights {
    background: #e8e5f4;
    color: #b1b1b1;
    font-size: 12px;
    padding: 10px 0px; }
    .landing + footer .copyrights a {
      color: #b1b1b1; }

@media (min-width: 992px) {
  .offer .modal-lg {
    width: 610px; }

  .modal-lg {
    width: 685px; }

  header .menu .search-form.open {
    opacity: 1;
    left: 16.66666667%;
    width: calc(100% - 16.66666667% - 100px);
    padding-left: 70px; }
  header .menu .btn-icon.active {
    position: absolute;
    left: 16.66666667%;
    top: 0;
    z-index: 3; } }
@media (min-width: 768px) {
  .modal-dialog.modal-sm {
    width: 485px; }
    .modal-dialog.modal-sm .modal-content, .modal-dialog.modal-sm .modal-footer, .modal-dialog.modal-sm .modal-header {
      padding: 10px 80px; }
    .modal-dialog.modal-sm .modal-content {
      padding-top: 0px;
      padding-bottom: 30px; }
  .modal-dialog .modal-content, .modal-dialog .modal-footer, .modal-dialog .modal-header {
    padding: 10px 60px; }
  .modal-dialog .modal-content {
    padding-top: 0px;
    padding-bottom: 50px; }

  .products .item {
    height: 390px; }
    .products .item .title {
      height: 44px; }
    .products .item .img {
      width: 250px;
      height: 300px; } }
@media (max-width: 1200px) {
  .bottom-call .phone .big {
    font-size: 34px; }
  .bottom-call .timer .text {
    float: none;
    margin-top: 0; }
  .bottom-call .timer {
    margin-top: 0; }
  .bottom-call #clock .item span {
    display: none; }

  .sell [class^="col-"]:last-of-type:before, .sell [class*=" col-"]:last-of-type:before {
    top: 0;
    left: 50%; }
  .sell [class^="col-"]:last-of-type .item, .sell [class*=" col-"]:last-of-type .item {
    height: auto; }

  .cart .item .content {
    width: calc(100% - 190px); }
  .cart .item .img {
    width: 190px;
    height: 190px; }

  .order .shipping-checkbox {
    float: none;
    margin-top: 20px; }

  .careers-item {
    padding: 15px 20px; }

  .landing section .sidebar .title {
    font-size: 24px;
    padding: 60px 30px; }
  .landing section .sidebar .phone a {
    font-size: 34px; }
  .landing section .sidebar .discount .percent {
    font-size: 30px; }
  .landing section .products {
    margin-top: 247px; } }
@media (max-width: 1080px) {
  .products .item .img {
    width: 200px !important; }

  .landing section .products .item .img {
    width: 100% !important; }
  .landing section .products .item .title {
    height: auto; } }
@media (max-width: 991px) {
  body {
    padding-top: 50px; }

  .landing {
    margin-top: -50px; }

  main {
    padding-bottom: 37px; }

  footer {
    margin-top: -37px; }

  .careers-img {
    padding: 40px 20px;
    height: 220px; }

  header {
    top: 0;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 10; }
    header .menu .container {
      position: static; }
    header .menu .logo {
      width: 120px;
      position: absolute;
      left: 50%;
      top: 15px;
      margin: 0;
      margin-left: -60px; }
    header .menu .search-form {
      width: 90%;
      left: -100%;
      position: absolute;
      top: 50px;
      z-index: 2;
      opacity: 1;
      padding: 10px 50px 10px 20px; }
    header .menu .basket {
      position: absolute;
      top: 6px;
      right: 5px; }
    header .menu .btn-icon {
      position: absolute;
      font-size: 20px;
      top: 62px;
      left: -100%;
      transition: 0.3s all;
      z-index: 4; }
    header .menu nav {
      position: fixed;
      background: #fff;
      top: 50px;
      left: -100%;
      width: 90%;
      height: calc(100% - 50px);
      box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
      padding-top: 50px;
      transition: 0.3s;
      overflow: auto; }
      header .menu nav.open {
        left: 0; }
      header .menu nav .nav-pills > li {
        display: block;
        padding-right: 50px;
        float: none;
        position: relative; }
        header .menu nav .nav-pills > li > a {
          padding: 15px 20px; }
        header .menu nav .nav-pills > li.dropdown-li:before {
          content: "";
          width: 16px;
          height: 2px;
          border-radius: 5px;
          background: #333;
          position: absolute;
          right: 17px;
          top: 23px; }
        header .menu nav .nav-pills > li.dropdown-li:after {
          content: "";
          height: 16px;
          width: 2px;
          border-radius: 5px;
          background: #333;
          position: absolute;
          right: 24px;
          top: 16px;
          transition: 0.3s all; }
        header .menu nav .nav-pills > li.dropdown-li:hover .dropdown-menu {
          position: relative;
          background: #fff;
          top: 0;
          float: none;
          padding: 10px 30px; }
          header .menu nav .nav-pills > li.dropdown-li:hover .dropdown-menu .nav > li > a {
            color: #6f6f6f;
            padding: 7px 15px;
            font-size: 13px; }
            header .menu nav .nav-pills > li.dropdown-li:hover .dropdown-menu .nav > li > a:hover {
              color: #6f6f6f;
              background: #fbfbfb; }
          header .menu nav .nav-pills > li.dropdown-li:hover .dropdown-menu:before {
            content: none; }
        header .menu nav .nav-pills > li.dropdown-li:hover:after {
          transform: scale(0); }
      header .menu nav .nav-login {
        background: #fbfbfb;
        margin-top: 20px; }
        header .menu nav .nav-login > li {
          width: 50%;
          float: left; }
          header .menu nav .nav-login > li > a {
            font-weight: bold;
            color: #464646;
            font-size: 13px;
            padding: 15px 20px; }

  .menu-btn {
    border: 0;
    padding: 16px;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
    .menu-btn span {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 5px;
      background: #333;
      transition: 0.3s all; }
      .menu-btn span:nth-of-type(2) {
        width: 16px; }
      .menu-btn span ~ span {
        margin-top: 5px; }
    .menu-btn.active span:nth-of-type(1) {
      transform: rotate(45deg);
      margin-top: 7px; }
    .menu-btn.active span:nth-of-type(2) {
      transform: scale(0); }
    .menu-btn.active span:nth-of-type(3) {
      transform: rotate(-45deg);
      margin-top: -9px; }
    .menu-btn.active ~ .container .btn-icon {
      left: calc(90% - 52px); }
    .menu-btn.active ~ .container .search-form {
      left: 0px; }

  .benefits .item {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }
    .benefits .item .img {
      position: relative;
      min-height: 300px;
      width: 100%;
      top: 0;
      box-shadow: none; }
      .benefits .item .img.contain {
        box-shadow: none; }
    .benefits .item .content {
      padding: 20px !important;
      box-shadow: none; }

  .careers-email {
    padding: 20px;
    height: 440px; }
    .careers-email .img {
      background: #eefdff;
      border-radius: 50%;
      width: 164px;
      height: 164px;
      display: table;
      padding: 50px;
      text-align: center;
      margin: 20px auto;
      position: relative;
      float: none; }
    .careers-email .text {
      padding: 0; }
    .careers-email .btn {
      position: relative;
      top: inherit;
      right: inherit;
      display: table;
      margin: 30px auto; }

  .landing section .sidebar {
    margin-top: 100px; }
  .landing section .products {
    margin-top: 50px; } }
@media (max-width: 767px) {
  .landing {
    margin-top: 30px; }
    .landing section .sidebar {
      margin-top: 160px; }
    .landing section .logo {
      padding: 20px 20px;
      margin: 0;
      width: 100%;
      display: block;
      background: #fff;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2; }
      .landing section .logo img {
        max-width: 90%; }

  main {
    padding-bottom: 54px; }

  footer {
    margin-top: -54px; }

  h1, .h1 {
    font-size: 18px; }

  .padding-sm {
    padding: 15px; }

  .logotypes {
    text-align: center; }
    .logotypes img {
      max-width: 25%; }

  .copyrights {
    text-align: center; }
    .copyrights .text-right {
      text-align: center; }

  .modal-cart .item {
    text-align: center; }
    .modal-cart .item .img {
      display: block;
      width: 100%; }
    .modal-cart .item .content {
      display: block; }
      .modal-cart .item .content .title {
        margin-top: 20px; }
    .modal-cart .item .prices {
      text-align: center; }
  .modal-cart .btns, .modal-cart .cost {
    text-align: center; }

  .accessories .item .title {
    height: auto; }

  .product-head .tabs {
    overflow-y: auto; }
    .product-head .tabs ul {
      width: calc(100% + 300px); }
      .product-head .tabs ul li {
        width: 30%; }

  .sell .item {
    height: auto;
    padding-bottom: 50px; }
    .sell .item .title {
      height: auto;
      display: block; }
  .sell [class^="col-"] ~ div:before, .sell [class*=" col-"] ~ div:before {
    top: 0;
    left: 50%; }

  .cart .item .content {
    width: 100%;
    text-align: center;
    margin-top: 20px; }
  .cart .item .img {
    width: 100%;
    height: 190px;
    text-align: center; }
  .cart .item .count {
    text-align: center;
    width: 100%;
    margin-left: 0; }

  .order .card {
    padding: 15px; }

  .careers-item {
    height: auto; }

  .rental-table .table > tbody > tr > th {
    display: none; }
  .rental-table .table > tbody > tr > td {
    display: block;
    border: 0; }
    .rental-table .table > tbody > tr > td:last-of-type {
      border-bottom: 1px solid #e8e8e8; }

  #circle-spin .modal-circle:after {
    width: 40px;
    height: 40px;
    top: -20px; }
  #circle-spin .role, #circle-spin a {
    display: none; }

  #circle-win form {
    padding: 40px; }
    #circle-win form .form-group {
      margin-bottom: 15px; }
    #circle-win form .role, #circle-win form a {
      display: none; }

  .modal-circle {
    width: 320px;
    height: 320px;
    margin: 30px auto; }
    .modal-circle .thanks {
      padding: 60px 40px; }
    .modal-circle .win-off {
      font-size: 28px;
      margin-bottom: 10px; }
    .modal-circle .alert {
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      -ms-transform: scale(0.75);
      -o-transform: scale(0.75);
      transform: scale(0.75); }
    .modal-circle .btn-center {
      width: 80px;
      height: 40px;
      font-size: 13px; }
    .modal-circle .discounts .item {
      font-size: 14px; }
      .modal-circle .discounts .item:nth-of-type(1) {
        top: 45px; }
      .modal-circle .discounts .item:nth-of-type(2) {
        top: 100px;
        right: 40px; }
      .modal-circle .discounts .item:nth-of-type(3) {
        bottom: 100px;
        right: 40px; }
      .modal-circle .discounts .item:nth-of-type(4) {
        bottom: 45px; }
      .modal-circle .discounts .item:nth-of-type(5) {
        bottom: 100px;
        left: 40px; }
      .modal-circle .discounts .item:nth-of-type(6) {
        top: 100px;
        left: 40px; }

  .offer .modal-dialog {
    background-size: cover; }
    .offer .modal-dialog .win-off {
      font-size: 60px; }
    .offer .modal-dialog .win-thanks {
      font-size: 40px; } }
@media (max-width: 560px) {
  .page-404 {
    padding: 20px; }
    .page-404 img {
      margin-top: 30px; }

  .modal-cart .item .prices strong {
    display: block; }
  .modal-cart .btns .btn {
    width: 100%;
    margin: 0 0 20px 0; }

  .cart .item .count {
    margin: 20px 0; }
    .cart .item .count strong {
      display: block; }
    .cart .item .count .quantity {
      margin: 10px; }

  .products .item .img, .products .item .content {
    display: block; }
  .products .item .content {
    padding: 10px 20px 30px 20px; }
  .products .item .img {
    width: 100% !important;
    height: 180px;
    padding: 15px; }

  .product-head .gallery-thumbs {
    display: none; }
  .product-head .gallery-top {
    margin: 0;
    width: 100%;
    height: 300px; }

  .contact-header {
    padding: 5px 15px 25px 15px; }
    .contact-header:before {
      content: none; }

  .benefits .item .specification {
    display: table;
    width: 100%; }
    .benefits .item .specification .table-cell {
      display: table;
      vertical-align: bottom;
      padding-right: 0px; }
  .benefits .item .downloads .icon {
    margin-left: 0; }
  .benefits .item .downloads .warranty {
    width: 100%;
    text-align: center; }

  .customer-table .img, .customer-table .content {
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px; }

  .faqs {
    margin-top: 0; }
    .faqs .question {
      padding: 15px; }
      .faqs .question:before {
        content: none; }
    .faqs .answer {
      margin-left: 0;
      margin-bottom: 30px; }

  .perfomances .item .content {
    padding: 20px 15px;
    vertical-align: middle;
    height: auto; }
  .perfomances .item .title {
    font-size: 16px; }
  .perfomances .item .text {
    font-weight: 100;
    font-size: 12px; }

  .testimonials .item .img {
    display: none; }
  .testimonials .item .content {
    padding: 15px; }

  .blocks-with-circle .item {
    padding: 10px 0px; }
    .blocks-with-circle .item .img {
      display: none; }
    .blocks-with-circle .item .content {
      padding: 10px 0px; } }

/*# sourceMappingURL=main.css.map */
