

@media (min-width: 992px) {

  .offer{
    .modal-lg{
      width: 610px;
    }
  }

  .modal-lg {
    width: 685px;
  }
  header {
    .menu {
      .search-form.open {
        opacity: 1;
        left: 16.66666667%;
        width: calc(100% - 16.66666667% - 100px);
        padding-left: 70px;
      }
      .btn-icon.active {
        position: absolute;
        left: 16.66666667%;
        top: 0;
        z-index: 3;
      }
    }
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    &.modal-sm{
      width: 485px;
      .modal-content,.modal-footer, .modal-header{
        padding: 10px 80px;
      }

      .modal-content{
        padding-top: 0px;
        padding-bottom: 30px;
      }
    }
    .modal-content,.modal-footer, .modal-header{
      padding: 10px 60px;
    }
    .modal-content{
      padding-top: 0px;
      padding-bottom: 50px;
    }
  }

  .products{
    .item{
      height: 390px;
      .title{
        height: 44px;
      }

      .img{
        width: 250px;
        height:300px;
      }

    }
  }
}

@media (max-width: 1200px) {

  .bottom-call {
    .phone .big {
      font-size: 34px;
    }

    .timer .text {
      float: none;
      margin-top: 0;
    }

    .timer{
      margin-top: 0;
    }

    #clock{
      .item{
        span{
          display: none;
        }
      }
    }
  }
  .sell{

    [class^="col-"],  [class*=" col-"]{
      &:last-of-type{
        &:before{
          top:0;
          left: 50%;

        }
        .item{
          height: auto;
        }
      }
    }
  }

  .cart .item {
    .content {
      width: calc(100% - 190px);
    }
    .img {
      width: 190px;
      height: 190px;
    }
  }

  .order{
    .shipping-checkbox{
      float: none;
      margin-top: 20px;
    }
  }



  .careers-item {
    padding: 15px 20px;
  }


  .landing section{
    .sidebar{
      .title{
        font-size: 24px;
        padding: 60px 30px;

      }
      .phone a{
        font-size: 34px;
      }
      .discount .percent{
        font-size: 30px;
      }
    }
    .products {
      margin-top: 247px;
    }

  }
}


@media (max-width: 1080px) {
  .products{
    .item{
      .img{
        width: 200px!important;
      }

    }
  }

  .landing section{
    .products{
      .item{
        .img{
          width: 100%!important;
        }
        .title{
          height: auto;
        }
      }
    }
  }

}


@media (max-width: 991px) {

  body{
    padding-top: 50px;
  }

  .landing{
    margin-top: -50px;
  }

  main{
    padding-bottom: 37px;
  }

  footer{
    margin-top: -37px;
  }

  .careers-img{
    padding: 40px 20px;
    height: 220px;
  }

  header{
    top: 0;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 10;
    .menu{
      .container{
        position: static;
      }
      .logo{
        width: 120px;
        position: absolute;
        left: 50%;
        top: 15px;
        margin: 0;
        margin-left: -60px;
      }

      .search-form{
        width: 90%;
        left: -100%;
        position: absolute;
        top: 50px;
        z-index: 2;
        opacity: 1;
        padding: 10px 50px 10px 20px;
      }

      .basket{
        position: absolute;
        top: 6px;
        right: 5px;
      }

      .btn-icon{
        position: absolute;
        font-size: 20px;
        top: 62px;
        left: -100%;
        transition: 0.3s all;
        z-index: 4;
      }

      nav{
        position: fixed;
        background: #fff;
        top: 50px;
        left: -100%;
        width: 90%;
        height: calc(100% - 50px);
        box-shadow: 3px 6px 10px rgba(0,0,0,0.1);
        padding-top: 50px;
        transition: 0.3s;
        overflow: auto;
        &.open{
          left: 0;
        }
        .nav-pills > li {
          display: block;
          padding-right: 50px;
          float: none;
          position: relative;
          &>a{
            padding: 15px 20px;
          }
          &.dropdown-li {
            &:before {
              content: "";
              width: 16px;
              height: 2px;
              border-radius: 5px;
              background: #333;
              position: absolute;
              right: 17px;
              top: 23px;
            }

            &:after {
              content: "";
              height: 16px;
              width: 2px;
              border-radius: 5px;
              background: #333;
              position: absolute;
              right: 24px;
              top: 16px;
              transition: 0.3s all;
            }


            &:hover{
              .dropdown-menu {
                position: relative;
                background: #fff;
                top: 0;
                float: none;
                padding: 10px 30px;
                .nav>li>a{
                  color: #6f6f6f;
                  padding: 7px 15px;
                  font-size: 13px;
                  &:hover{
                    color: #6f6f6f;
                    background: #fbfbfb;
                  }
                }

                &:before{
                  content: none;
                }
              }

              &:after{
                transform: scale(0);
              }
            }
          }
        }

        .nav-login{
          background: #fbfbfb;
          margin-top: 20px;
          &>li{
            width: 50%;
            float: left;
            &>a{
              font-weight: bold;
              color: #464646;
              font-size: 13px;
              padding: 15px 20px;
            }
          }
        }
      }

    }
  }
  .menu-btn{
    border: 0;
    padding: 16px;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    span{
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 5px;
      background: #333;
      transition: 0.3s all;

      &:nth-of-type(2){
        width: 16px;
      }
      &~span{
        margin-top:5px;
      }
    }

    &.active{
      span{
        &:nth-of-type(1){
          transform: rotate(45deg);
          margin-top: 7px;
        }
        &:nth-of-type(2){
          transform: scale(0);
        }
        &:nth-of-type(3){
          transform: rotate(-45deg);
          margin-top: -9px;
        }
      }

      &~.container {
        .btn-icon{
          left: calc(90% - 52px);
        }
        .search-form {
          left: 0px;
        }
      }
    }
  }

  .benefits{
    .item{
      box-shadow: 0 1px 2px rgba(0,0,0,0.05);
      .img{
        position: relative;
        min-height: 300px;
        width: 100%;
        top: 0;
        box-shadow: none;
        &.contain{
          box-shadow: none;
        }
      }
      .content{
        padding: 20px!important;
        box-shadow: none;
      }
    }
  }

  .careers-email {
    padding: 20px;
    height: 440px;

    .img{
      background: #eefdff;
      border-radius: 50%;
      width: 164px;
      height: 164px;
      display: table;
      padding: 50px;
      text-align: center;
      margin: 20px auto;
      position: relative;
      float: none;
    }
    .text{
      padding: 0;
    }

    .btn {
      position: relative;
      top: inherit;
      right: inherit;
      display: table;
      margin: 30px auto;
    }
  }

  .landing section{

    .sidebar{
      margin-top: 100px;
    }
    .products{
      margin-top: 50px;
    }
  }

}




@media (max-width: 767px) {


  .landing {

    margin-top: 30px;
    section {
      .sidebar {
        margin-top: 160px;
      }
      .logo {
        padding: 20px 20px;
        margin: 0;
        width: 100%;
        display: block;
        background: #fff;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        img{
          max-width: 90%;
        }
      }
    }
  }


  main{
    padding-bottom: 54px;
  }

  footer{
    margin-top: -54px;
  }


  h1, .h1{
    font-size: 18px;
  }

  .padding-sm{
    padding: 15px;
  }
  .logotypes{
    text-align: center;
    img {
      max-width: 25%;
    }
  }
  .copyrights{
    text-align: center;
    .text-right{
      text-align: center;
    }
  }

  .modal-cart{
    .item{

      text-align: center;
      .img{
        display: block;
        width: 100%;
      }

      .content{
        display: block;
        .title{
          margin-top: 20px;
        }
      }

      .prices{
        text-align: center;
      }
    }
    .btns, .cost{
      text-align: center;
    }
  }

  .accessories{
    .item{
      .title{
        height: auto;
      }
    }
  }

  .product-head .tabs{
    overflow-y: auto;
    ul {
      width: calc(100% + 300px);
      li{
        width: 30%;
      }
    }
  }


  .sell{
    .item{
      height: auto;
      padding-bottom: 50px;
      .title{
        height: auto;
        display: block;
      }
    }

    [class^="col-"],  [class*=" col-"]{
      &~div{
        &:before{
          top:0;
          left: 50%;
        }
      }
    }
  }

  .cart .item {
    .content {
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
    .img {
      width: 100%;
      height: 190px;
      text-align: center;
    }
    .count{
      text-align: center;
      width: 100%;
      margin-left: 0;
    }
  }

  .order .card{
    padding: 15px;
  }

  .careers-item{
    height: auto;
  }

  .rental-table{
    .table > tbody > tr > th{
      display: none;
    }
    .table > tbody > tr > td{
      display: block;
      border: 0;
      &:last-of-type{
        border-bottom: 1px solid #e8e8e8;
      }
    }

  }

  #circle-spin{
    .modal-circle{
      &:after{
        width: 40px;
        height: 40px;
        top: -20px;
      }
    }

    .role, a{display: none;}

  }

  #circle-win{
    form{
      padding: 40px;


      .form-group {
        margin-bottom: 15px;
      }

      .role, a{
        display: none;
      }
    }
  }

  .modal-circle{
    width: 320px;
    height: 320px;
    margin: 30px auto;
    .thanks{
      padding: 60px 40px;
    }
    .win-off{

      font-size: 28px;
      margin-bottom: 10px;
    }
    .alert{

      @include transfrom(scale(0.75));
    }
    .btn-center{
      width: 80px;
      height: 40px;
      font-size: 13px;
    }

    .discounts{
      .item{
        font-size: 14px;
        &:nth-of-type(1){
          top: 45px;

        }
        &:nth-of-type(2){
          top: 100px;
          right: 40px;
        }
        &:nth-of-type(3){
          bottom: 100px;
          right: 40px;
        }
        &:nth-of-type(4){
          bottom: 45px;
        }
        &:nth-of-type(5){
          bottom: 100px;
          left: 40px;
        }
        &:nth-of-type(6){
          top: 100px;
          left: 40px;
        }
      }
    }
  }

  .offer{
    .modal-dialog{
      background-size: cover;

      .win-off{
        font-size: 60px;
      }

      .win-thanks{
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 560px) {
  .page-404{
    padding: 20px;
    img{
      margin-top: 30px;
    }
  }
  .modal-cart{
    .item{
      .prices{
        strong{
          display: block;
        }
      }
    }

    .btns{
      .btn{
        width: 100%;
        margin: 0 0 20px 0;
      }
    }
  }
  .cart .item {
    .count{
      margin: 20px 0;
      strong{
        display: block;
      }
      .quantity{
        margin: 10px;
      }
    }
  }

  .products{
    .item{
      .img, .content{
        display: block;
      }

      .content{
        padding: 10px 20px 30px 20px;
      }

      .img{
        width: 100%!important;
        height: 180px;
        padding: 15px;
      }

    }
  }

  .product-head{

    .gallery-thumbs {
      display: none;
    }
    .gallery-top {
      margin: 0;
      width: 100%;
      height: 300px;
    }
  }

  .contact-header{
    padding: 5px 15px 25px 15px;
    &:before{
      content: none;
    }
  }
  .benefits{
    .item{
      .specification{
        display: table;
        width: 100%;
        .table-cell{
          display: table;
          vertical-align: bottom;
          padding-right: 0px;
        }
      }

      .downloads {
        .icon{
          margin-left: 0;
        }
        .warranty {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .customer-table{
    .img, .content{
      text-align: center;
      display: block;
      width: 100%;
      padding: 10px;
    }
  }

  .faqs{
    margin-top: 0;
    .question{
      padding: 15px;
      &:before{
        content: none;
      }
    }

    .answer{
      margin-left: 0;
      margin-bottom: 30px;
    }
  }
  .perfomances{
    .item{
      .content {
        padding: 20px 15px;
        vertical-align: middle;
        height: auto;
      }

      .title {
        font-size: 16px;
      }

      .text {
        font-weight: 100;
        font-size: 12px;
      }
    }
  }
  .testimonials{
    .item{
      .img{
        display: none;
      }
      .content{
        padding: 15px;
      }
    }
  }

  .blocks-with-circle{
    .item{
      padding: 10px 0px;
      .img{
        display: none;
      }
      .content{
        padding: 10px 0px;
      }
    }
  }

}
