@mixin font-import($name) {
  @font-face {
    font-family: $name;
    src: url('../fonts/' + $name + '.eot');
    src: url('../fonts/' + $name + '.eot?#iefix') format('embedded-opentype'),
    url('../fonts/' + $name + '.ttf') format('truetype'),
    url('../fonts/' + $name + '.woff') format('woff'),
    url('../fonts/' + $name + '.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin transfrom($text){
  -webkit-transform: $text;
  -moz-transform: $text;
  -ms-transform: $text;
  -o-transform: $text;
  transform: $text;
}



@mixin icon(){
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@mixin nowrap(){

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin shadow(){
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

@mixin title(){
  color: #333;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
@mixin list(){
  ul{
    margin: 0;
    padding: 0;
    color: $gray;
    list-style-type: none;
    margin-bottom: 30px;
    li{
      position: relative;
      padding: 5px 5px 5px 30px;
      &:before{
        content: "";
        position: absolute;
        top:12px;
        left: 5px;
        width: 6px;
        height: 6px;
        background: $blue;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;

      }
    }
  }
}

@mixin centerIn() {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


@mixin wave(){

  position: relative;
  padding-bottom: 120px;
  &:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url("../img/wave.png");
    height: 100px;
    z-index: 2;
  }
}

$i: 5;
@while $i < 65 {
  .top#{$i} { margin-top: $i+px; }
  $i: $i + 5;
}

$i: 5;
@while $i < 65 {
  .bottom#{$i} { margin-bottom: $i+px; }
  $i: $i + 5;
}


$i: 5;
@while $i < 65 {
  .line#{$i} { line-height: $i+px; }
  $i: $i + 5;
}


$i: 10;
@while $i < 32 {
  .size#{$i} { font-size: $i+px; }
  $i: $i + 1;
}

.relative{
  position:relative;
}